/**
 * @package 	WordPress
 * @subpackage 	EcoNature
 * @version 	1.1.1
 * 
 * Theme Fonts Rules
 * Created by CMSMasters
 * 
 */


/***************** Start Theme Font Styles ******************/

	/* Start Content Font */
	body, 
	.cmsms_breadcrumbs .cmsms_breadcrumbs_inner, 
	.cmsms_breadcrumbs .cmsms_breadcrumbs_inner a {
		font-family:Verdana, Geneva, 'DejaVu Sans', sans-serif;
		font-size:12px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
	}
	
	.cmsms_posts_slider .post .cmsms_slider_post_content, 
	.cmsms_posts_slider .post .cmsms_slider_post_quote_author, 
	.post.cmsms_timeline_type .cmsms_post_info .cmsms_post_date .cmsms_year {
		font-size:12px;
	}
	
	.wp-caption .wp-caption-text {
		font-size:13px;
	}
	/* Finish Content Font */


	/* Start Link Font */
	a,
	#cancel-comment-reply-link {
		font-family:'Oxygen', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:16px;
		line-height:25px;
		font-weight:500;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}

	.cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_but:before {
		font-size:16px;
	}

	a:hover {
		text-decoration:none;
	}
	/* Finish Link Font */


	/* Start Navigation Title Font */
	#navigation > li > a,
	#navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a,
	#navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li:hover > a {
		font-family:'Oxygen', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:18px;
		line-height:25px;
		font-weight:300;
		font-style:normal;
		text-transform:none;
	}

	#navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a,
	#navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li:hover > a {
		font-weight:700; // static
	}
	
	@media only screen and (max-width: 1024px) {
		html #page #header nav #navigation li a {
			font-size:17px;
			font-weight:400; // static
		}
		
		html #page #header nav #navigation > li > a {
			font-weight:500; // static
		}
		
		html #page #header nav #navigation li li li a {
			font-size:15px;
		}
	}
	/* Finish Navigation Title Font */


	/* Start Navigation Dropdown Font */
	#navigation ul li a {
		font-family:Verdana, Geneva, 'DejaVu Sans', sans-serif;
		font-size:16px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
	}
	/* Finish Navigation Dropdown Font */


	/* Start H1 Font */
	h1,
	h1 a,
	#header .logo .title,
	.error_subtitle,
	.cmsms_pricing_table .cmsms_currency,
	.cmsms_pricing_table .cmsms_price,
	.cmsms_pricing_table .cmsms_coins,
	.post.format-quote .cmsms_quote_content,
	.post.format-aside .cmsms_post_cont .cmsms_post_content,
	.post.format-status .cmsms_post_cont .cmsms_post_content,
	.share_posts > h3,
	.about_author > h3,
	.related_posts > h3,
	.comment-respond .comment-reply-title, 
	.cmsms_search_post_number {
		font-family:'Oxygen', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:34px;
		line-height:100px;
		font-weight:300;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.headline_outer .headline_inner .headline_icon[class^="cmsms-icon-"]:before,
	.headline_outer .headline_inner .headline_icon[class*=" cmsms-icon-"]:before {
		font-size:100px;
	}
	
	.headline_outer .headline_inner.align_center .headline_icon[class^="cmsms-icon-"]:before,
	.headline_outer .headline_inner.align_center .headline_icon[class*=" cmsms-icon-"]:before {
		font-size:120px;
	}
	
	.cmsms_dropcap {
		font-family:'Oxygen', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-weight:300;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsms_dropcap {
		font-size:40px; // static
	}
	
	.cmsms_dropcap.type2 {
		font-size:30px; // static
	}
	
	.headline_outer .headline_inner.align_left .headline_icon {
		padding-left:115px;
	}
	
	.headline_outer .headline_inner.align_right .headline_icon {
		padding-right:115px;
	}
	
	.headline_outer .headline_inner.align_center .headline_icon {
		padding-top:120px;
	}
	
	.cmsms_pricing_table .cmsms_currency,
	.cmsms_pricing_table .cmsms_price,
	.cmsms_pricing_table .cmsms_coins {
		font-size:54px;
		line-height:120px;
	}
	
	.cmsms_icon_box.cmsms_box_heading h1:before {
		font-size:39px;
	}
	/* Finish H1 Font */


	/* Start H2 Font */
	h2,
	h2 a,
	.cmsms_twitter .cmsms_twitter_item_content,
	.cmsms_twitter .cmsms_twitter_item_content a, 
	.post.cmsms_masonry_type.format-quote .cmsms_post_cont .cmsms_quote_content,
	.post.cmsms_masonry_type.format-status .cmsms_post_cont .cmsms_post_content,
	.post.cmsms_masonry_type.format-aside .cmsms_post_cont .cmsms_post_content, 
	.cmsms_sitemap_wrap .cmsms_sitemap > li > a {
		font-family:'Oxygen', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:22px;
		line-height:34px;
		font-weight:300;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.post_comments .commentlist > li.bypostauthor .fn:before {
		font-size:22px;
	}
	
	.cmsms_icon_box.cmsms_box_heading h2:before {
		font-size:27px;
	}
	
	.cmsms_twitter .cmsms_twitter_item_content,
	.cmsms_twitter .cmsms_twitter_item_content a {
		font-size:20px;
		line-height:26px;
	}
	/* Finish H2 Font */


	/* Start H3 Font */
	h3,
	h3 a,
	.header_mid_inner .search_wrap .search_bar_wrap input[type=text],
	.post .cmsms_post_date .cmsms_day_mon, 
	.cmsms_posts_slider .post.format-quote .cmsms_slider_post_cont .cmsms_slider_post_quote_content,
	.cmsms_posts_slider .post.format-status .cmsms_slider_post_cont .cmsms_slider_post_content,
	.cmsms_posts_slider .post.format-aside .cmsms_slider_post_cont .cmsms_slider_post_content, 
	.cmsms_sitemap_wrap .cmsms_sitemap > li > ul > li > a, 
	.cmsms_sitemap_wrap .cmsms_sitemap_category > li > a {
		font-family:'Oxygen', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:18px;
		line-height:28px;
		font-weight:300;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.post .cmsms_post_date .cmsms_day_mon {
		font-size:16px;
	}
	
	.portfolio .project .project_outer .project_inner .cmsms_project_header .cmsms_project_title, 
	.cmsms_posts_slider .project .slider_project_outer .slider_project_inner .cmsms_slider_project_header .cmsms_slider_project_title {
		line-height:26px;
	}
	
	.cmsms_icon_box.cmsms_box_heading h3:before {
		font-size:23px;
	}
	/* Finish H3 Font */


	/* Start H4 Font */
	h4, 
	h4 a {
		font-family:'Oxygen', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:16px;
		line-height:26px;
		font-weight:300;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}

	.cmsms_stats .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_title,
	.cmsms_stats.stats_mode_bars .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_counter_wrap,
	.cmsms_stats.stats_mode_counters.stats_type_numbers .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_title {
		font-family:'Oxygen', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:16px;
		font-weight:300;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.profiles.opened-article .profile .cmsms_profile_header .cmsms_profile_subtitle {
		font-style:normal;
	}
	/* Finish H4 Font */


	/* Start H5 Font */
	h5,
	h5 a,
	.cmsms_twitter .published,
	.cmsmsLike, 
	.blog .post.cmsms_default_type .cmsmsLike, 
	.cmsms_pricing_table .cmsms_period,
	.cmsms_post_comments, 
	.cmsms_search_post_comments, 
	.cmsms_search_post_date, 
	.post.cmsms_timeline_type .cmsms_post_info .cmsms_post_date .cmsms_day_mon, 
	.post .cmsms_post_date .cmsms_year, 
	.post.cmsms_masonry_type .cmsms_post_cont .cmsms_post_footer .cmsms_post_meta_info .cmsms_post_date, 
	.opened-article .post .cmsms_post_footer .cmsms_post_meta_info .cmsms_post_date, 
	.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_footer .cmsms_slider_post_meta_info .cmsms_slider_post_date, 
	.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_footer .cmsms_slider_post_meta_info .cmsmsLike, 
	.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_footer .cmsms_slider_post_meta_info .cmsms_slider_post_comments, 
	.project .cmsmsLike, 
	.project .cmsms_project_comments, 
	.cmsms_posts_slider .project .cmsmsLike, 
	.cmsms_posts_slider .project .cmsms_slider_project_comments, 
	.profile .cmsms_profile_comments {
		font-family:'Oxygen', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:24px;
		font-weight:300;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.post .cmsms_post_date .cmsms_year {
		font-size:13px;
	}

	.cmsmsLike:before,
	.blog .post.cmsms_default_type .cmsmsLike:before, 
	.cmsms_post_comments:before,
	.cmsms_search_post_comments:before,
	.cmsms_search_post_date:before,
	.cmsms_post_date:before {
		font-size:17px;
	}
	
	.cmsmsLike,
	.blog .post.cmsms_default_type .cmsmsLike, 
	.cmsms_post_comments,
	.cmsms_search_post_comments,
	.cmsms_search_post_date,
	.cmsms_post_date {
		margin-right:18px;
	}
	
	.cmsms_twitter .published {
		font-size:14px;
		line-height:14px;
	}
	
	.cmsms_pricing_table .cmsms_period {
		font-size:14px;
		line-height:20px;
	}
	
	.post.cmsms_masonry_type .cmsms_post_cont .cmsms_post_footer .cmsms_post_meta_info .cmsms_post_date,
	.post.cmsms_masonry_type .cmsms_post_cont .cmsms_post_footer .cmsms_post_meta_info .cmsmsLike,
	.post.cmsms_masonry_type .cmsms_post_cont .cmsms_post_footer .cmsms_post_meta_info .cmsms_post_comments,
	.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_footer .cmsms_slider_post_meta_info .cmsms_slider_post_date, 
	.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_footer .cmsms_slider_post_meta_info .cmsmsLike, 
	.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_footer .cmsms_slider_post_meta_info .cmsms_slider_post_comments, 
	.project .cmsmsLike, 
	.project .cmsms_project_comments, 
	.cmsms_posts_slider .project .cmsmsLike, 
	.cmsms_posts_slider .project .cmsms_slider_project_comments, 
	.profile .cmsms_profile_comments {
		font-size:13px;
		margin-right:17px;
	}

	.post.cmsms_masonry_type .cmsms_post_cont .cmsms_post_footer .cmsms_post_meta_info .cmsms_post_date:before,
	.post.cmsms_masonry_type .cmsms_post_cont .cmsms_post_footer .cmsms_post_meta_info .cmsmsLike:before,
	.post.cmsms_masonry_type .cmsms_post_cont .cmsms_post_footer .cmsms_post_meta_info .cmsms_post_comments:before, 
	.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_footer .cmsms_slider_post_meta_info .cmsms_slider_post_date:before, 
	.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_footer .cmsms_slider_post_meta_info .cmsmsLike:before, 
	.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_footer .cmsms_slider_post_meta_info .cmsms_slider_post_comments:before, 
	.project .cmsmsLike:before, 
	.project .cmsms_project_comments:before, 
	.cmsms_posts_slider .project .cmsmsLike:before, 
	.cmsms_posts_slider .project .cmsms_slider_project_comments:before, 
	.profile .cmsms_profile_comments:before {
		font-size:17px;
	}
	/* Finish H5 Font */


	/* Start H6 Font */
	h6,
	h6 a,
	.post.format-chat .cmsms_post_cont .cmsms_chat .cmsms_chat_item .cmsms_chat_author_time .cmsms_chat_author, 
	.cmsms_posts_slider .post.format-chat .cmsms_slider_post_cont .cmsms_slider_post_chat .cmsms_chat_item .cmsms_chat_author_time .cmsms_chat_author {
		font-family:'Oxygen', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:20px;
		font-weight:300;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H6 Font */


	/* Start Button Font */
	.cmsms_button,
	.post .cmsms_post_header .cmsms_post_subtitle,
	.cmsms_posts_slider .cmsms_slider_post_header .cmsms_slider_post_subtitle,
	.post .cmsms_post_cont_info,
	.post .cmsms_post_cont_info a,
	.cmsms_search_post_cont_info, 
	.cmsms_search_post_cont_info a, 
	.project .cmsms_project_cont_info, 
	.project .cmsms_project_cont_info a,
	.cmsms_posts_slider .cmsms_slider_post_cont_info,
	.cmsms_posts_slider .cmsms_slider_post_cont_info a,
	.cmsms_posts_slider .cmsms_slider_project_cont_info,
	.cmsms_posts_slider .cmsms_slider_project_cont_info a,	
	.post_nav > span a, 
	.related_posts > ul li > a,
	.cmsms_toggles .cmsms_toggle_wrap .cmsms_toggle_title > a, 
	.cmsms_tabs .cmsms_tabs_list .cmsms_tabs_list_item > a,
	.cmsms_stats.stats_mode_counters .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_counter_wrap {
		font-family:'Oxygen', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:44px;
		font-weight:normal;
		font-style:normal;
		text-transform:uppercase;
	}
	
	.gform_wrapper .gform_footer input.button, 
	.gform_wrapper .gform_footer input[type=submit] {
		font-size:15px !important;
	}
	
	.post .cmsms_post_header .cmsms_post_subtitle,
	.cmsms_posts_slider .cmsms_slider_post_header .cmsms_slider_post_subtitle,
	.post .cmsms_post_cont_info,
	.post .cmsms_post_cont_info a,
	.cmsms_search_post_cont_info, 
	.cmsms_search_post_cont_info a, 
	.post_nav > span a {
		font-size:13px;
		line-height:19px;
	}
	
	.post.cmsms_timeline_type .cmsms_post_cont_info,
	.post.cmsms_timeline_type .cmsms_post_cont_info a {
		font-size:11px;
		line-height:19px;
	}
	
	.post.cmsms_timeline_type .cmsms_post_meta_info, 
	.post.cmsms_timeline_type .cmsms_post_meta_info a {
		font-size:12px;
		line-height:19px;
	}
	
	.post.cmsms_timeline_type .cmsms_post_meta_info a:before {
		font-size:14px;
	}

	.related_posts > ul li > a {
		font-size:14px;
	}
	
	.related_posts > ul li > a,
	.cmsms_toggles .cmsms_toggle_wrap .cmsms_toggle_title > a,
	.cmsms_tabs .cmsms_tabs_list .cmsms_tabs_list_item > a {
		line-height:23px;
	}

	.post.cmsms_masonry_type .cmsms_post_cont .cmsms_post_cont_info,
	.post.cmsms_masonry_type .cmsms_post_cont .cmsms_post_cont_info a {
		font-size:11px;
	}

	.cmsms_stats.stats_mode_counters .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_counter_wrap {
		line-height:60px; // static
	}
	/* Finish Button Font */


	/* Start Small Text Font */
	small,
	.meta_wrap,
	.meta_wrap a,
	.header_top_inner nav > div > ul > li a {
		font-family:'Oxygen', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:11px;
		line-height:18px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
	}

	#navigation > li.menu-item-mega > div.menu-item-mega-container ul ul li.menu-item-mega-description span.menu-item-mega-description-container, 
	.project .cmsms_project_cont_info, 
	.project .cmsms_project_cont_info a, 
	.cmsms_posts_slider .cmsms_slider_post_cont_info,
	.cmsms_posts_slider .cmsms_slider_post_cont_info a,
	.cmsms_posts_slider .cmsms_slider_project_cont_info,
	.cmsms_posts_slider .cmsms_slider_project_cont_info a {
		font-size:11px;
		line-height:18px;
	}
	
	.gform_wrapper .description, 
	.gform_wrapper .gfield_description, 
	.gform_wrapper .gsection_description, 
	.gform_wrapper .instruction {
		font-family:'Oxygen', Arial, Helvetica, 'Nimbus Sans L', sans-serif !important;
		font-size:11px !important;
		line-height:18px !important;
	}
	
	.meta_wrap > div[class^="cmsms-icon-"]:before,
	.meta_wrap > p[class^="cmsms-icon-"]:before,
	.meta_wrap > span[class^="cmsms-icon-"]:before,
	.meta_wrap > strong[class^="cmsms-icon-"]:before,
	.meta_wrap > div[class*=" cmsms-icon-"]:before,
	.meta_wrap > p[class*=" cmsms-icon-"]:before,
	.meta_wrap > span[class*=" cmsms-icon-"]:before,
	.meta_wrap > strong[class*=" cmsms-icon-"]:before {
		font-size:16px;
	}

	.post.format-chat .cmsms_post_cont .cmsms_chat .cmsms_chat_item .cmsms_chat_author_time .cmsms_chat_time, 
	.cmsms_posts_slider .post.format-chat .cmsms_slider_post_cont .cmsms_slider_post_chat .cmsms_chat_item .cmsms_chat_author_time .cmsms_chat_time {
		font-size:10px;
		font-weight:bold; // static
		text-transform:uppercase; // static
	}
	
	@media only screen and (max-width: 1024px) {
		html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav > li > a {
			font-size:12px;
			font-weight:bold; // static
		}
	}
	/* Finish Small Text Font */


	/* Start Text Fields Font */
	input[type=text],
	input[type=email],
	input[type=password],
	input[type=number],
	input[type=url],
	input[type=tel],
	textarea,
	select,
	option, 
	code {
		font-family:Verdana, Geneva, 'DejaVu Sans', sans-serif;
		font-size:13px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
	}
	
	.gform_wrapper input[type=text], 
	.gform_wrapper input[type=url], 
	.gform_wrapper input[type=email], 
	.gform_wrapper input[type=tel], 
	.gform_wrapper input[type=number], 
	.gform_wrapper input[type=password], 
	.gform_wrapper textarea, 
	.gform_wrapper select {
		font-size:13px !important;
	}
	/* Finish Text Fields Font */


	/* Start Blockquote Font */
	q,
	blockquote {
		font-family:'Oxygen', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:16px;
		line-height:26px;
		font-weight:400;
		font-style:italic;
	}
	
	q:before,
	blockquote:before {
		font:50px/50px Georgia, Times, 'Century Schoolbook L', serif; // static
	}
	/* Finish Blockquote Font */

/***************** Finish Theme Font Styles ******************/



/***************** Start Theme Font Styles ******************/

	/* Start Content Font */
	.checkout #order_review .shop_table th, 
	.checkout #order_review .shop_table td, 
	.checkout #order_review .shop_table th *, 
	.checkout #order_review .shop_table td *, 
	.shop_table.order_details th, 
	.shop_table.order_details td, 
	.shop_table.order_details th *, 
	.shop_table.order_details td *, 
	.shop_table.order_details td.product-name, 
	.shop_table.order_details td.product-name * {
		font-family:Verdana, Geneva, 'DejaVu Sans', sans-serif;
		font-size:12px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
	}
	
	.cmsms_single_product .cmsms_woo_tabs #reviews #comments .commentlist .comment .comment_container .comment-text .meta, 
	.product_list_widget li del .amount {
		font-size:11px;
	}
	/* Finish Content Font */
	
	
	/* Start Link Font */
	.cmsms_products .product .product_outer .product_inner .cmsms_product_footer > a {
		font-size:15px;
	}
	/* Finish Link Font */
	
	
	/* Start H1 Font */
	/* Finish H1 Font */
	
	
	/* Start H2 Font */
		.cmsms_single_product .cmsms_product_right_column .product_title {
			font-family:'Oxygen', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
			font-size:22px;
			line-height:34px;
			font-weight:300;
			font-style:normal;
			text-transform:none;
			text-decoration:none;
		}
	/* Finish H2 Font */
	
	
	/* Start H3 Font */
	.cmsms_single_product .cmsms_product_right_column .price, 
	.cmsms_single_product .cmsms_woo_tabs h2, 
	.cart_totals > h2 {
		font-family:'Oxygen', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:18px;
		line-height:28px;
		font-weight:300;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsms_products .product .product_outer .product_inner .cmsms_product_info .price {
		font-size:18px;
		line-height:28px;
	}
	/* Finish H3 Font */
	
	
	/* Start H4 Font */
	.widget_shopping_cart_content .total strong {
		font-weight:300;
	}
	/* Finish H4 Font */
	
	
	/* Start H5 Font */
	.shop_table thead th {
		font-family:'Oxygen', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:15px;
		line-height:24px;
		font-weight:300;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.shop_table td.product-price, 
	.shop_table td.product-subtotal, 
	.cart_totals table tr.cart-subtotal td, 
	.cart_totals table tr.order-total td, 
	.widget_shopping_cart_content .cart_list li .quantity, 
	.widget_shopping_cart_content .total strong, 
	.widget_shopping_cart_content .total .amount, 
	.product_list_widget li .amount {
		font-family:'Oxygen', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	}
	/* Finish H5 Font */
	
	
	/* Start H6 Font */
	.cmsms_products .product .product_outer .product_inner .cmsms_product_info .price del, 
	.cmsms_single_product .cmsms_product_right_column .price del {
		font-size:14px;
		line-height:20px;
	}
	/* Finish H6 Font */
	
	
	/* Start Button Font */
	.onsale, 
	.out-of-stock, 
	.cmsms_products .product .product_outer .product_inner .cmsms_product_header .cmsms_product_title, 
	.cmsms_products .product .product_outer .product_inner .cmsms_product_header .cmsms_product_title a, 
	.cmsms_products .product .product_outer .product_inner .cmsms_product_info .price, 
	.shop_table td.product-name, 
	.shop_table td.product-name a, 
	.widget_shopping_cart_content .cart_list li a, 
	.cmsms_added_product_info .cmsms_added_product_info_text, 
	.product_list_widget li > a {
		font-family:'Oxygen', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-weight:normal;
		font-style:normal;
		text-transform:uppercase;
	}
	/* Finish Button Font */
	
	
	/* Start Small Text Font */
	/* Finish Small Text Font */

/***************** Finish Theme Font Styles ******************/


