/**
 * @package 	WordPress
 * @subpackage 	Montmartre
 * @version		1.0.0
 * 
 * Theme Fonts Rules
 * Created by CMSMasters
 * 
 */


/***************** Start Theme Font Styles ******************/

	/* Start Content Font */
	body, 
	.cmsms_breadcrumbs .cmsms_breadcrumbs_inner, 
	.post.cmsms_masonry_type .cmsms_post_cont .cmsms_post_cont_inner .cmsms_post_read_more, 
	.post.cmsms_timeline_type .cmsms_post_cont .cmsms_post_footer .cmsms_post_read_more, 
	.cmsms_breadcrumbs .cmsms_breadcrumbs_inner a {
		font-family:'Raleway', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:13px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
	}
	
	.cmsms_twitter .cmsms_twitter_item .cmsms_twitter_item_content,
	.cmsms_twitter .cmsms_twitter_item .cmsms_twitter_item_content a,
	.post.cmsms_default_type .cmsms_post_cont .cmsms_post_content,
	.post.cmsms_default_type .cmsms_post_cont .cmsms_post_content a {
		font-size:14px;
		line-height:24px;
	}
	
	#wp-calendar thead th,
	.cmsms_posts_slider .post.format-chat .cmsms_slider_post_chat .cmsms_chat_text,
	.cmsms_posts_slider .post.format-chat .cmsms_slider_post_chat .cmsms_chat_text a,
	.header_top a,
	.header_top {
		font-size:12px;
	}
	
	.contact_widget_name:before, 
	.contact_widget_email:before, 
	.contact_widget_phone:before, 
	.adress_wrap:before {
		font-size:16px;
	}
	/* Finish Content Font */


	/* Start Link Font */
	a,
	#cancel-comment-reply-link {
		font-family:'Raleway', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:13px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}

	a:hover {
		text-decoration:none;
	}
	/* Finish Link Font */


	/* Start Navigation Title Font */

	#navigation > li > a {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:13px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
		text-transform:uppercase;
	}
	
	#header #navigation [class^="cmsms-icon-"]:before,
	#header #navigation [class*=" cmsms-icon-"]:before {
		font-size:18px;
		line-height:20px;
	}
	/* Finish Navigation Title Font */


	/* Start Navigation Dropdown Font */
	#navigation ul li a {
		font-family:'Raleway', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:12px;
		line-height:20px;
		font-weight:500;
		font-style:normal;
		text-transform:uppercase;
	}
	
	@media only screen and (max-width: 1024px) {
		#navigation > li > a,
		html #header .search_wrap input[type=text] {
			font-family:'Raleway', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
			font-size:12px;
			line-height:20px;
			font-weight:500;
			font-style:normal;
			text-transform:uppercase;
		}
		
		html .search_wrap input::-webkit-input-placeholder{
			font-family:'Raleway', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
			font-size:12px;
			line-height:20px;
			font-weight:500;
			font-style:normal;
			text-transform:uppercase;
		}
		
		html .search_wrap input::-moz-placeholder{
			font-family:'Raleway', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
			font-size:12px;
			line-height:20px;
			font-weight:500;
			font-style:normal;
			text-transform:uppercase;
		}
	}
	/* Finish Navigation Dropdown Font */


	/* Start H1 Font */
	h1,
	h1 a,
	.post.cmsms_default_type .cmsms_post_date .cmsms_day,
	.post.cmsms_timeline_type .cmsms_post_date .cmsms_day,
	.opened-article .post .cmsms_post_title,
	.opened-article .post .cmsms_post_title a,
	.cmsms_search_post_title a,
	.post.cmsms_default_type .cmsms_post_title,
	.post.cmsms_default_type .cmsms_post_title a,
	.post.cmsms_default_type.format-aside .entry-title,
	.post.cmsms_default_type.format-status .entry-title,
	.opened-article .post.format-status .cmsms_post_cont_wrap_wrap .cmsms_post_cont_wrap .cmsms_post_content,
	.opened-article .post.format-aside .cmsms_post_cont .cmsms_post_content,
	.profiles.opened-article .cmsms_profile_title,
	.portfolio.opened-article .cmsms_project_title,
	.cmsms_counters .cmsms_counter_wrap .cmsms_counter .cmsms_counter_inner .cmsms_counter_counter_wrap,
	
	#header .logo .title {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:34px;
		line-height:40px;
		font-weight:700;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsms_dropcap {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsms_counters .cmsms_counter_wrap .cmsms_counter .cmsms_counter_inner .cmsms_counter_counter_wrap {
		font-size:40px;
		line-height:1em;
	}
	
	.cmsms_search_post_title a,
	.opened-article .post .cmsms_post_title,
	.opened-article .post .cmsms_post_title a,
	.post.cmsms_default_type .cmsms_post_title,
	.post.cmsms_default_type .cmsms_post_title a,
	.post.cmsms_default_type.format-aside .entry-title,
	.post.cmsms_default_type.format-status .entry-title,
	.opened-article .post.format-aside .cmsms_post_cont .cmsms_post_content,
	.opened-article .post.format-status .cmsms_post_cont_wrap_wrap .cmsms_post_cont_wrap .cmsms_post_content {
		font-weight:normal;
	}
	
	.portfolio.opened-article .cmsms_project_title,
	.profiles.opened-article .cmsms_profile_title {
		text-transform:uppercase;
	}
	
	.post.cmsms_default_type .cmsms_post_date .cmsms_day {
		font-weight:normal;
		font-size:40px;
	}
	
	.post.cmsms_timeline_type .cmsms_post_date .cmsms_day {
		font-weight:normal;
		font-size:36px;
	}
	
	.cmsms_dropcap {
		font-size:40px; /* static */
		font-weight:normal;
	}
	
	.cmsms_dropcap.type2 {
		font-size:30px; /* static */
	}
	/* Finish H1 Font */


	/* Start H2 Font */
	h2,
	h2 a,
	.cmsms_stats.stats_mode_bars.stats_type_vertical .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_counter_wrap {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:28px;
		line-height:34px;
		font-weight:700;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.quote_grid .quote_image:before {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:70px;
		line-height:86px;
		font-weight:normal;
	}
	/* Finish H2 Font */


	/* Start H3 Font */
	h3,
	h3 a,
	.cmsms_stats.stats_mode_circles .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_counter_wrap,
	.cmsms_pricing_table .cmsms_price,
	.cmsms_pricing_table .cmsms_coins,
	.cmsms_pricing_table .cmsms_currency,
	.cmsms_sitemap_wrap .cmsms_sitemap > li > a,
	.cmsms_search .cmsms_search_post .cmsms_search_post_number {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:24px;
		line-height:30px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_post_format_img .cmsms_slider_post_date .cmsms_mon,
	.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_post_format_img .cmsms_slider_post_date .cmsms_day {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-weight:normal;
		font-style:normal;
		text-decoration:none;
	}
	
	.cmsms_stats.stats_mode_circles .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_counter_wrap {
		font-size:26px;
	}
	
	.cmsms_pricing_table .cmsms_price {
		font-size:60px;
		line-height:54px;
		text-transform:uppercase;
	}
	
	.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_post_format_img .cmsms_slider_post_date .cmsms_mon {
		font-size:16px;
		line-height:20px;
	}
	.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_post_format_img .cmsms_slider_post_date .cmsms_day {
		font-size:28px;
		line-height:20px;
	}
	
	.cmsms_search .cmsms_search_post .cmsms_search_post_number {
		line-height:52px;
	}
	/* Finish H3 Font */


	/* Start H4 Font */
	h4, 
	h4 a,
	.comment-reply-title,
	#header .search_wrap input[type=text],
	.cmsms_posts_slider .post.format-status .cmsms_slider_post_content .entry-title,
	.cmsms_posts_slider .post.format-aside .cmsms_slider_post_content .entry-title,
	.cmsms_pricing_table .pricing_title,
	.post.cmsms_timeline_type.format-status .cmsms_post_cont .cmsms_post_cont_inner .entry-title,
	.quote_grid .quote_title {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:20px;
		line-height:26px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsms_pricing_table .pricing_title,
	#header .search_wrap input[type=text] {
		text-transform:uppercase;
	}
	
	.search_wrap input::-webkit-input-placeholder {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:20px;
		line-height:26px;
		font-weight:normal;
		font-style:normal;
		text-transform:uppercase;
		text-decoration:none;
	}
	
	.search_wrap input::-moz-placeholder {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:20px;
		line-height:26px;
		font-weight:normal;
		font-style:normal;
		text-transform:uppercase;
		text-decoration:none;
	}
	/* Finish H4 Font */


	/* Start H5 Font */
	h5,
	h5 a,
	.post.cmsms_default_type .cmsms_post_date .cmsms_month,
	.post.cmsms_default_type.format-quote .cmsms_post_cont .cmsms_quote_author,
	.post.cmsms_masonry_type.format-aside .cmsms_post_cont_inner .entry-title,
	.post.cmsms_masonry_type.format-status .cmsms_post_cont .cmsms_post_cont_inner .entry-title,
	.opened-article .post.format-quote .cmsms_post_cont_wrap .cmsms_post_cont .cmsms_quote_author,
	.cmsms_counters .cmsms_counter_wrap .cmsms_counter .cmsms_counter_inner .cmsms_counter_title,
	.cmsms_menu_item .cmsms_menu_price_wrap,
	.cmsms_counters .cmsms_counter_wrap .cmsms_counter .cmsms_counter_inner .cmsms_counter_title,
	.cmsms_quotes_slider .quote_title,
	.cmsms_quotes_slider_full .quote_title,
	.cmsms_stats.stats_mode_counters.stats_type_numbers .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_title,
	.widgettitle,
	.widgettitle a {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:16px;
		line-height:22px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.post.cmsms_default_type .cmsms_post_date .cmsms_month {
		font-size:15px;
		text-transform:lowercase;
	}
	
	.cmsms_menu_item .cmsms_menu_price_wrap {
		font-weight:bold;
	}
	
	.cmsms_counters .cmsms_counter_wrap .cmsms_counter .cmsms_counter_inner .cmsms_counter_title{
		line-height:1em;
	}
	
	.widgettitle,
	.widgettitle a,
	.project_features_title,
	.cmsms_quotes_slider .quote_title,
	.cmsms_quotes_slider_full .quote_title,
	.profiles.opened-article .profile_details_title,
	.profiles.opened-article .profile_features_title,
	.opened-article .post.format-quote .cmsms_post_cont_wrap .cmsms_post_cont .cmsms_quote_author,
	.post.cmsms_default_type.format-quote .cmsms_post_cont .cmsms_quote_author {
		text-transform:uppercase;
	}
	/* Finish H5 Font */


	/* Start H6 Font */
	h6,
	h6 a,
	.related_posts > ul li > a,
	.post_nav .cmsms_prev_post a,
	.post_nav .cmsms_next_post a,
	.post.cmsms_timeline_type .cmsms_post_date .cmsms_month,
	.cmsms_stats.stats_mode_circles .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_title,
	.cmsms_stats.stats_mode_bars .cmsms_stat_title,
	.cmsms_posts_slider .post.format-link .cmsms_slider_post_subtitle,
	.cmsms_posts_slider .post.format-chat .cmsms_slider_post_chat .cmsms_chat_author,
	.cmsms_posts_slider .post.format-quote .cmsms_slider_post_quote_author,
	.cmsms_pricing_table .cmsms_period,
	.cmsms_toggles .cmsms_toggle_wrap .cmsms_toggle_title > a,
	.cmsms_tabs .cmsms_tabs_list .cmsms_tabs_list_item > a,
	.cmsms_menu_item .menu_feature_list_wrap .cmsms_menu_best_feature,
	.cmsms_sitemap_wrap .cmsms_sitemap > li > ul > li > a,
	.cmsms_table caption,
	.cmsms_sitemap_category > li > a,
	.cmsms_sitemap_archive > li > a,
	.cmsms_sitemap_wrap .cmsms_sitemap > li > ul > li > ul > li > a,
	.quote_subtitle,
	.quote_site,
	.quote_link,
	.cmsms_table tr th, 
	.cmsms_table tr.cmsms_table_row_footer td, 
	.cmsms_table tr th,
	dl dt, 
	.post.format-chat .cmsms_post_cont .cmsms_chat .cmsms_chat_author_time .cmsms_chat_author {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsms_stats.stats_mode_bars.stats_type_horizontal .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_counter_wrap,
	.post.cmsms_masonry_type.format-quote .cmsms_post_cont .cmsms_quote_author,
	.post.cmsms_timeline_type.format-quote .cmsms_post_cont .cmsms_quote_author {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:20px;
		font-weight:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.widget_nav_menu ul li > a,
	.cmsms_menu_item .menu_feature_list_wrap .cmsms_menu_best_feature,
	.cmsms_posts_slider .post.format-quote .cmsms_slider_post_quote_author,
	.cmsms_posts_slider .post.format-chat .cmsms_slider_post_chat .cmsms_chat_author,
	.cmsms_posts_slider .post.format-link .cmsms_slider_post_subtitle,
	.quote_link,
	.quote_site,
	.quote_subtitle,
	.cmsms_stats.stats_mode_circles .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_title,
	.cmsms_profile.horizontal .pl_subtitle,
	.post.format-chat.cmsms_masonry_type .cmsms_post_cont .cmsms_chat .cmsms_chat_author_time .cmsms_chat_author,
	.post.format-chat.cmsms_timeline_type .cmsms_post_cont .cmsms_chat .cmsms_chat_author_time .cmsms_chat_author {
		font-size:12px;
	}
	
	.cmsms_table caption,
	.cmsms_sitemap_wrap .cmsms_sitemap > li > ul > li > a,
	.widget_nav_menu ul li > a,
	.cmsms_menu_item .menu_feature_list_wrap .cmsms_menu_best_feature,
	.cmsms_toggles .cmsms_toggle_wrap .cmsms_toggle_title > a,
	.cmsms_tabs .cmsms_tabs_list .cmsms_tabs_list_item > a,
	.cmsms_pricing_table .cmsms_period,
	.cmsms_posts_slider .post.format-quote .cmsms_slider_post_quote_author,
	.cmsms_posts_slider .post.format-chat .cmsms_slider_post_chat .cmsms_chat_author,
	.cmsms_posts_slider .cmsms_slider_post_title a, 
	.quote_subtitle,
	.quote_link,
	.quote_site,
	.cmsms_stats.stats_mode_bars .cmsms_stat_title,
	.cmsms_stats.stats_mode_circles .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_title,
	.cmsms_profile .pl_subtitle,
	.rel_post_title a,
	.rel_post_title,
	.related_posts > ul li > a,
	.post_nav .cmsms_prev_post a,
	.post_nav .cmsms_next_post a,
	.post.format-chat .cmsms_post_cont .cmsms_chat .cmsms_chat_author_time .cmsms_chat_author {
		text-transform:uppercase;
	}
	
	.post.cmsms_timeline_type .cmsms_post_date .cmsms_month {
		font-size:13px;
		text-transform:lowercase;
	}
	
	.cmsms_sitemap_category > li > a,
	.cmsms_sitemap_archive > li > a,
	.cmsms_sitemap_wrap .cmsms_sitemap > li > ul > li > ul > li > a {
		font-size:13px;
	}
	
	.cmsms_toggles .cmsms_toggle_wrap .cmsms_toggle_title > a,
	.cmsms_tabs .cmsms_tabs_list .cmsms_tabs_list_item > a {
		line-height:20px;
	}
	
	.cmsms_stats.stats_mode_bars.stats_type_horizontal .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_counter_wrap {
		font-size:12px;
		line-height:20px;
	}
	
	.post.cmsms_masonry_type.format-quote .cmsms_post_cont .cmsms_quote_author,
	.post.cmsms_timeline_type.format-quote .cmsms_post_cont .cmsms_quote_author {
		font-size:12px;
		text-transform:uppercase;
	}
	
	@media only screen and (min-width: 1024px) and (max-width: 1440px) {
		.cmsms_tabs.lpr .cmsms_tabs_list .cmsms_tabs_list_item > a {
			font-size:9px;
		}
	}
	/* Finish H6 Font */


	/* Start Button Font */
	.button,
	.cmsms_button, 
	.cmsms_button.mont_btn > span, 
	.cmsms_post_loader, 
	.cmsms_project_loader, 
	#cancel-comment-reply-link, 
	input[type='submit'], 
	input[type='button'], 
	button {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:12px;
		line-height:44px;
		font-weight:normal;
		font-style:normal;
		text-transform:uppercase;
	}
	
	.cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_list li .button,
	.cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_but,
	.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_list li .button,
	.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_but,
	.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_sort_block .cmsms_project_sort_but span {
		font-size:13px;
	}
	
	.button, 
	.cmsms_post_loader, 
	.cmsms_project_loader, 
	#cancel-comment-reply-link, 
	input[type='submit'], 
	input[type='button'], 
	button {
		line-height:20px;
	}
	
	.cmsms_button.mont_btn > span {
		line-height:44px;
	}
	
	.gform_wrapper .gform_footer input.button, 
	.gform_wrapper .gform_footer input[type=submit] {
		font-size:12px !important;
	}
	/* Finish Button Font */


	/* Start Small Text Font */
	.post.format-chat .cmsms_chat_time,
	small {
		font-family:'Raleway', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:11px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
	}

	.gform_wrapper .description, 
	.gform_wrapper .gfield_description, 
	.gform_wrapper .gsection_description, 
	.gform_wrapper .instruction {
		font-family:'Raleway', Arial, Helvetica, 'Nimbus Sans L', sans-serif !important;
		font-size:11px !important;
		line-height:20px !important;
	}
	/* Finish Small Text Font */


	/* Start Text Fields Font */
	input[type=text],
	input[type=email],
	input[type=password],
	input[type=number],
	input[type=date],
	input[type=url],
	input[type=tel],
	textarea,
	select,
	option, 
	code {
		font-family:'Raleway', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:13px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
	}
	
	.ie_only input[type=text],
	.ie_only input[type=email],
	.ie_only input[type=password],
	.ie_only input[type=number],
	.ie_only input[type=date],
	.ie_only input[type=url],
	.ie_only input[type=tel],
	.ie_only select,
	.ie_only option {
		height:42px;
	}
	
	.gform_wrapper input[type=text], 
	.gform_wrapper input[type=url], 
	.gform_wrapper input[type=email], 
	.gform_wrapper input[type=tel], 
	.gform_wrapper input[type=number], 
	.gform_wrapper input[type=date], 
	.gform_wrapper input[type=password], 
	.gform_wrapper textarea, 
	.gform_wrapper select {
		font-size:13px !important;
	}
	/* Finish Text Fields Font */


	/* Start Blockquote Font */
	.cmsms_posts_slider .post.format-quote .cmsms_slider_post_quote_content,
	.cmsms_quotes_slider_full .cmsms_quote_inner .quote_content,
	.cmsms_quotes_slider .quote_content_inner,
	q,
	blockquote {
		font-family:'Raleway', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:16px;
		line-height:26px;
		font-weight:normal;
		font-style:normal;
	}
	
	.cmsms_quotes_slider .quote_content_inner:before,
	q:before,
	blockquote:before,
	q:after,
	blockquote:after  {
		font-family:'Raleway', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:80px;
		line-height:40px;
		font-weight:normal;
	}
	
	.cmsms_quotes_slider_full .cmsms_quote_inner .quote_content {
		font-size:20px;
		line-height:36px;
	}
	
	.opened-article .format-quote .cmsms_post_cont .cmsms_quote_content,
	.post.cmsms_default_type.format-quote .cmsms_post_cont .cmsms_quote_content {
		font-size:18px;
	}
	
	.cmsms_posts_slider .post.format-quote .cmsms_slider_post_quote_content,
	.post.cmsms_masonry_type .cmsms_post_cont .cmsms_quote_content,
	.post.cmsms_timeline_type .cmsms_post_cont .cmsms_quote_content {
		font-size:14px;
		line-height:24px;
	}
	
	.cmsms_posts_slider .post.format-quote .cmsms_slider_post_quote_content:before,
	.post.cmsms_masonry_type .cmsms_post_cont .cmsms_quote_content:before,
	.post.cmsms_timeline_type .cmsms_post_cont .cmsms_quote_content:before{
		font-size:60px;
		line-height:30px;
	}
	/* Finish Blockquote Font */

/***************** Finish Theme Font Styles ******************/



/***************** Start WooCommerce Font Styles ******************/

	/* Start Content Font */
	.checkout #order_review .shop_table th, 
	.checkout #order_review .shop_table td, 
	.checkout #order_review .shop_table th *, 
	.checkout #order_review .shop_table td *,
	.cmsms_dynamic_cart .widget_shopping_cart_content .total strong,
	.checkout #order_review .shop_table tr.cart_item th, 
	.checkout #order_review .shop_table tr.cart_item td, 
	.checkout #order_review .shop_table tr.cart_item th *, 
	.checkout #order_review .shop_table tr.cart_item td *, 
	.shop_table.order_details tr.order_item th, 
	.shop_table.order_details tr.order_item td, 
	.shop_table.order_details tr.order_item th *, 
	.shop_table.order_details tr.order_item td *, 
	ul.order_details li > strong {
		font-family:'Raleway', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:13px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
	}
	
	.checkout #order_review .shop_table th, 
	.checkout #order_review .shop_table td, 
	.checkout #order_review .shop_table th *, 
	.checkout #order_review .shop_table td * {
		text-transform:none;
	}
	/* Finish Content Font */
	
	/* Start H3 Font */
	div.products > h2,
	.cmsms_single_product .cmsms_product_right_column .product_title, 
	.cmsms_single_product .cmsms_product_right_column .price, 
	.cmsms_single_product .cmsms_woo_tabs .cmsms_tabs_wrap .cmsms_tab .cmsms_tab_inner > h2, 
	.cmsms_single_product .cmsms_woo_tabs #reviews #comments > h2 {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:24px;
		line-height:30px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsms_single_product .cmsms_product_right_column .price del {
		font-size:20px;
	}
	/* Finish H3 Font */
	
	
	/* Start H4 Font */
	.cmsms_products .product .product_inner .cmsms_product_info .price, 
	#order_review_heading,
	.cart_totals > h2, 
	.cart_totals > h2 *, 
	.shipping_calculator > h2, 
	.shipping_calculator > h2 *, 
	.checkout .woocommerce-billing-fields > h3, 
	.checkout .woocommerce-shipping-fields > h3 {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:20px;
		line-height:26px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H4 Font */
	
	
	/* Start H5 Font */
	.cmsms_products .product .product_inner .cmsms_product_info .price del {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:16px;
		line-height:22px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.cmsms_products .cmsms_product_title,
	.cmsms_products .cmsms_product_title a {
		text-transform:uppercase;
	}
	/* Finish H5 Font */
	
	
	/* Start H6 Font */
	.shop_table th, 
	.shop_table.order_details th, 
	.shop_table.order_details td, 
	.shop_table.order_details th *, 
	.shop_table.order_details td *, 
	ul.order_details li > span, 
	.product_list_widget li > a, 
	.cmsms_added_product_info_text,
	.cmsms_dynamic_cart .widget_shopping_cart_content .cart_list li a {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.shop_table th {
		text-transform:uppercase;
	}
	
	.product_list_widget li > a, 
	.cmsms_dynamic_cart .widget_shopping_cart_content .cart_list li a,
	.cmsms_added_product_info_text,
	.shop_table.order_details th, 
	.shop_table.order_details td, 
	.shop_table.order_details th *, 
	.shop_table.order_details td *, 
	ul.order_details li > span {
		font-size:13px;
		font-weight:normal;
	}
	
	.onsale, 
	.out-of-stock {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	}
	
	.shop_table td.product-price, 
	.shop_table td.product-price * {
		font-weight:normal;
	}
	/* Finish H6 Font */
	
	/* Start Button Font */
	.added_to_cart {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:12px;
		line-height:44px;
		font-weight:normal;
		font-style:normal;
		text-transform:uppercase;
	}
	/* Finish Button Font */
/***************** Finish WooCommerce Font Styles ******************/



/***************** Start Events Font Styles ******************/

	/* Start Content Font */
	#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-week-event > div:first-child > .entry-title, 
	#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-week-event > div:first-child > .entry-title a, 
	.recurringinfo, 
	.recurringinfo *, 
	#tribe-events-content.tribe-events-month table.tribe-events-calendar tbody td div[id*="tribe-events-event-"] .tribe-events-month-event-title, 
	#tribe-events-content.tribe-events-month table.tribe-events-calendar tbody td div[id*="tribe-events-event-"] .tribe-events-month-event-title a, 
	#tribe-events-content.tribe-events-photo #tribe-events-photo-events .tribe-events-photo-event .tribe-events-photo-event-wrap .tribe-events-event-details .tribe-events-event-meta .time-details, 
	#tribe-events-content.tribe-events-photo #tribe-events-photo-events .tribe-events-photo-event .tribe-events-photo-event-wrap .tribe-events-event-details .tribe-events-event-meta .time-details *, 
	#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-allday .column.first, 
	#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-week-grid-wrapper .tribe-grid-body .tribe-week-grid-hours, 
	#tribe-mobile-container .tribe-mobile-day .tribe-events-mobile .tribe-events-event-body .time-details, 
	.widget .vcalendar .vevent .cmsms_widget_event_info *, 
	.widget .tribe-events-widget-link a, 
	.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .vcalendar td *, 
	.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper .tribe-events-loop .vevent .tribe-mini-calendar-event .list-info, 
	.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper .tribe-events-loop .vevent .tribe-mini-calendar-event .list-info .tribe-mini-calendar-event-venue a, 
	.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper .tribe-events-loop .vevent .tribe-mini-calendar-event .list-info .recurringinfo * {
		font-family:'Raleway', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:13px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
	}
	
	.tribe-events-countdown-widget .tribe-countdown-time .tribe-countdown-timer .tribe-countdown-number .tribe-countdown-under, 
	.tribe-events-tooltip, 
	.widget .tribe-events-widget-link a {
		font-size:12px;
	}
	
	.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar th.tribe-mini-calendar-dayofweek, 
	#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-allday .column.first, 
	.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .vcalendar td * {
		font-size:11px;
	}
	
	#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-allday .column.first span {
		height:20px;
	}
	
	#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-week-grid-wrapper .tribe-grid-body .tribe-week-grid-hours {
		font-size:10px;
	}
	
	
	.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar th.tribe-mini-calendar-dayofweek, 
	.tribe-events-countdown-widget .tribe-countdown-time .tribe-countdown-timer .tribe-countdown-number .tribe-countdown-under {
		text-transform:uppercase;
	}
	/* Finish Content Font */
	
	
	/* Start Link Font */
	/* Finish Link Font */
	
	
	/* Start H1 Font */
	.cmsms_event_date .cmsms_event_day,
	.tribe-events-countdown-widget .tribe-countdown-time .tribe-countdown-timer .tribe-countdown-number, 
	.tribe-events-countdown-widget .tribe-countdown-time .tribe-countdown-timer .tribe-countdown-colon {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:34px;
		line-height:40px;
		font-weight:700;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.tribe-events-countdown-widget .tribe-countdown-time .tribe-countdown-timer .tribe-countdown-number, 
	.tribe-events-countdown-widget .tribe-countdown-time .tribe-countdown-timer .tribe-countdown-colon {
		line-height:1em;
		font-weight:normal;
	}
	
	.cmsms_event_date .cmsms_event_day {
		font-weight:normal;
	}
	
	.tribe-events-list .cmsms_event_date .cmsms_event_day {
		font-size:40px;
	}
	
	#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_left > .cmsms_event_date .cmsms_event_day {
		font-size:46px;
	}
	/* Finish H1 Font */
	
	
	/* Start H2 Font */
	.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper .tribe-events-loop .vevent .tribe-mini-calendar-event .list-date span.list-daynumber, 
	#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_left .tribe-events-single-event-title {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:28px;
		line-height:34px;
		font-weight:700;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper .tribe-events-loop .vevent .tribe-mini-calendar-event .list-date span.list-daynumber, 
	#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_left .tribe-events-single-event-title {
		font-weight:normal;
	}
	/* Finish H2 Font */
	
	
	/* Start H3 Font */ 
	.tribe-events-list .tribe-events-list-event-title,
	.tribe-events-list .tribe-events-list-event-title a,
	.tribe-events-related-events-title,
	.tribe-events-page-title, 
	.widget .vcalendar .vevent .entry-title, 
	.widget .vcalendar .vevent .entry-title a {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:24px;
		line-height:30px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.tribe-events-related-events-title {
		text-transform:uppercase;
	}
	@media only screen and (min-width: 1024px) and (max-width: 1440px) {
		.tribe-events-countdown-widget .tribe-countdown-time .tribe-countdown-timer .tribe-countdown-number, 
		.tribe-events-countdown-widget .tribe-countdown-time .tribe-countdown-timer .tribe-countdown-colon {
			font-size:24px;
			line-height:30px;
		}
	}
	/* Finish H3 Font */
	
	
	/* Start H4 Font */
	#tribe-events-content.tribe-events-day .tribe-events-day-time-slot > h5,
	#tribe-events-content.tribe-events-list .tribe-events-list-separator-month, 
	ul.tribe-related-events > li .tribe-related-event-info .tribe-related-events-title a,
	ul.tribe-related-events > li .tribe-related-event-info .tribe-related-events-title,
	#tribe-events-content.tribe-events-list .vevent .cmsms_events_list_event_wrap .cmsms_events_list_event_header .tribe-events-event-cost,
	#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-date-filter label, 
	#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-search-filter label, 
	#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-geoloc-filter label, 
	#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-submit label,
	.tribe-events-week-grid .tribe-events-mobile h2 a,
	#tribe-mobile-container .tribe-mobile-day .tribe-mobile-day-heading, 
	#tribe-mobile-container .tribe-mobile-day .tribe-mobile-day-date {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:20px;
		line-height:26px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	/* Finish H4 Font */
	
	
	/* Start H5 Font */
	.widget.tribe-events-list-widget .vcalendar .vevent .entry-title,
	.widget.tribe-events-list-widget .vcalendar .vevent .entry-title a,
	.tribe-events-adv-list-widget .vcalendar .vevent .entry-title,
	.tribe-events-adv-list-widget .vcalendar .vevent .entry-title a,
	.tribe-events-venue-widget .tribe-venue-widget-wrapper .tribe-venue-widget-venue .tribe-venue-widget-venue-name, 
	.tribe-events-venue-widget .tribe-venue-widget-wrapper .tribe-venue-widget-venue .tribe-venue-widget-venue-name a, 
	.tribe-events-countdown-widget .tribe-countdown-text a, 
	#tribe-events-content.tribe-events-single .cmsms_single_event_meta .tribe-events-meta-group .tribe-events-single-section-title,  
	#tribe-events-content.tribe-events-photo #tribe-events-photo-events .tribe-events-photo-event .tribe-events-photo-event-wrap .tribe-events-event-details .tribe-events-list-event-title a,
	#tribe-events-content.tribe-events-photo #tribe-events-photo-events .tribe-events-photo-event .tribe-events-photo-event-wrap .tribe-events-event-details .tribe-events-list-event-title,
	#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-date-filter label, #tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-search-filter label, #tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-geoloc-filter label, #tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-submit label,
	.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper .tribe-events-loop .vevent .tribe-mini-calendar-event .list-info h2, 
	.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper .tribe-events-loop .vevent .tribe-mini-calendar-event .list-info h2 a {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:16px;
		line-height:22px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .tribe-mini-calendar-nav div {
		font-size:15px;
	}
	
	#tribe-events-content.tribe-events-single .cmsms_single_event_meta .tribe-events-meta-group .tribe-events-single-section-title, 
	#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-date-filter label, #tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-search-filter label, #tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-geoloc-filter label, #tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-submit label {
		text-transform:uppercase;
	}
	/* Finish H5 Font */
	
	
	/* Start H6 Font */
	.cmsms_event_date .cmsms_event_month,
	.tribe-events-venue-widget .vcalendar .vevent .entry-title,
	.tribe-events-venue-widget .vcalendar .vevent .entry-title a,
	#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-header .tribe-grid-content-wrap .column, 
	#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-header .tribe-grid-content-wrap .column *, 
	.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .tribe-mini-calendar-nav div, 
	#tribe-events-content.tribe-events-month table.tribe-events-calendar thead th, 
	#tribe-events-bar #tribe-bar-views .tribe-bar-views-inner ul.tribe-bar-views-list li.tribe-bar-views-option a,
	.tribe-events-tooltip .entry-title, 
	.tribe-events-tooltip .entry-title a,
	#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_right .tribe-events-cal-links a, 
	#tribe-events-footer > a, 
	#tribe-events-content.tribe-events-list .vevent .cmsms_events_list_event_wrap .tribe-events-list-event-description .tribe-events-read-more, 
	.tribe-events-venue .cmsms_events_venue_header .cmsms_events_venue_header_left .tribe-events-event-meta .venue-address span, 
	.tribe-events-venue .cmsms_events_venue_header .cmsms_events_venue_header_left .tribe-events-event-meta .venue-address span a, 
	.tribe-events-venue .cmsms_events_venue_header .cmsms_events_venue_header_right a, 
	.tribe-events-organizer .cmsms_events_organizer_header .cmsms_events_organizer_header_left .tribe-events-event-meta .organizer-address span, 
	.tribe-events-organizer .cmsms_events_organizer_header .cmsms_events_organizer_header_left .tribe-events-event-meta .organizer-address span a, 
	.tribe-events-organizer .cmsms_events_organizer_header .cmsms_events_organizer_header_right a, 
	.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper .tribe-events-loop .vevent .tribe-mini-calendar-event .list-date span.list-dayname {
		font-family:'Montserrat', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
		font-size:14px;
		line-height:20px;
		font-weight:normal;
		font-style:normal;
		text-transform:none;
		text-decoration:none;
	}
	
	#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_right .tribe-events-back a, 
	#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_right .tribe-events-cal-links a, 
	#tribe-events-footer > a,  
	.tribe-events-venue .cmsms_events_venue_header .cmsms_events_venue_header_right a, 
	.tribe-events-organizer .cmsms_events_organizer_header .cmsms_events_organizer_header_right a {
		font-size:12px;
	}
	 
	.tribe-events-venue .cmsms_events_venue_header .cmsms_events_venue_header_right a:before, 
	.tribe-events-organizer .cmsms_events_organizer_header .cmsms_events_organizer_header_right a:before {
		font-size:15px;
	}
	
	#tribe-events-bar #tribe-bar-views .tribe-bar-views-inner ul.tribe-bar-views-list li.tribe-bar-views-option a,
	
	#tribe-events-content.tribe-events-list .vevent .cmsms_events_list_event_wrap .tribe-events-list-event-description .tribe-events-read-more,
	#tribe-mobile-container .tribe-mobile-day .tribe-events-mobile .tribe-events-event-body .tribe-events-read-more {
		font-size:13px;
	}
	
	.tribe-events-tooltip .entry-title, 
	.tribe-events-tooltip .entry-title a,
	#tribe-events-footer > a, 
	.tribe-events-venue .cmsms_events_venue_header .cmsms_events_venue_header_right a, 
	.tribe-events-organizer .cmsms_events_organizer_header .cmsms_events_organizer_header_right a, 
	.tribe-events-venue-widget .tribe-venue-widget-wrapper .tribe-venue-widget-venue .tribe-venue-widget-venue-name, 
	.tribe-events-venue-widget .tribe-venue-widget-wrapper .tribe-venue-widget-venue .tribe-venue-widget-venue-name a {
		font-weight:normal;
	}
	
	.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .tribe-mini-calendar-nav div, 
	#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-header .tribe-grid-content-wrap .column, 
	#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-header .tribe-grid-content-wrap .column *, 
	#tribe-events-content.tribe-events-month table.tribe-events-calendar thead th, 
	#tribe-events-bar #tribe-bar-views .tribe-bar-views-inner ul.tribe-bar-views-list li.tribe-bar-views-option a {
		text-transform:uppercase;
	}
	/* Finish H6 Font */
	

/***************** Finish Events Font Styles ******************/


