/**
 * @package 	WordPress
 * @subpackage 	EcoNature
 * @version 	1.1.0
 * 
 * Events RTL Rules
 * Created by CMSMasters
 * 
 */


 body {
	unicode-bidi: embed;
	direction: rtl;
}


/* Tribe Spinner */

.tribe-events-spinner {
	margin-right: -16px;
}

.tribe-events-spinner-medium {
	margin-right: -12px;
}

.tribe-events-spinner-small {
	margin-right: -8px;
}


/* General Template Header/Footer Nav */

.tribe-events-ajax-loading {
	left: auto;
	right: 50%;
}


/* General Template Header Nav */

select.tribe-events-dropdown {
	margin-left: 9px;
	margin-right: 0;
}


/* = Events List Widget Styles (Sidebar)
   @ Template: widgets/list-widget.php
=============================================*/

.tribe-events-list-widget ol,
.tribe-events-adv-list-widget ol {
	margin-right: 0;
}


/* = WooTickets
=============================================*/

table.tribe-events-tickets td {
	padding-left: 10px;
	padding-right: 0;
}

table.tribe-events-tickets .tickets_nostock {
	text-align: center;
}


/* = Events Navigation Bar
   @ Template: modules/bar.php
=============================================*/
/* Views Select */

#tribe-bar-views .tribe-select2 {
	float: right;
}

#tribe-bar-views .select2-container .select2-choice span {
	margin-left: 18px;
}

#tribe-bar-views .select2-container .select2-choice span span {
	margin-left: 0;
}


/* Views Select When Have Settings */

.tribe-has-settings #tribe-bar-dates {
	margin-right: -331px;
}

.tribe-has-settings #tribe-bar-views {
	margin-right: -142px;
}

.tribe-has-settings #tribe-bar-views .select2-container .select2-choice div {
	background-image: none; /* Check this rule and write correct image url, or remove this rule! */
	border-right: 0;
}


/* Settings */

#tribe-events-bar .tribe-bar-button-settings span {
	float: right;
}


/* Filters Button & Dropdown Content */

#tribe-events-bar .tribe-bar-button-settings {
	border-right-color: transparent;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	float: right;
	margin-right: -1px;
}

.tribe-bar-settings .tribe-bar-drop-content {
	right: auto;
	left: -5px;
}


/* Skeleton Events Pro Styles */
/* Events Loop */

.tribe-events-loop h2.tribe-events-page-title {
	padding-right: 0;
}


/* = Map View Template Styles 
   @ Template: map.php
=============================================*/

/* tribe geo location results list formatting */

#tribe-geo-results .tribe-events-notices {
	text-align: center;
}

.tribe-geo-result-thumb {
	float: right;
	margin-left: 2%;
}

.tribe-geo-result-data {
	float: left;
}

.tribe-geo-result-entry h2 {
	float: right;
}

.tribe-geo-result-cost {
	float: left;
}

.tribe-geo-result-cost span {
	text-align: center;
}

.timer {
	text-align: center;
}


/* = View Loading / Pagination Styles 
   @ Template: map.php & photo.php
=============================================*/

#tribe-geo-loading {
	left: auto;
	right: 0;
}

#tribe-geo-loading img {
	left: auto;
	right: 50%;
	margin-left: 0;
	margin-right: -16px;
}


/* = Events Calendar Widget Styles (Sidebar)
   @ Template: widgets/calendar-widget.php
=============================================*/

.tribe-view-all-events {
	float: left;
}

.tribe-events-calendar-widget td {
	text-align: center;
}

.tribe-events-calendar-widget .tribe-events-calendar .tribe-events-tooltip {
	left: auto;
	right: 0;
	text-align: right;
}

.tribe-events-calendar-widget .tribe-events-tooltip .tribe-events-arrow {
	left: auto;
	right: 2px;
}

.tribe-events-calendar-widget .tribe-events-right .tribe-events-tooltip {
	left: 0;
	right: auto;
}

.tribe-events-calendar-widget .tribe-events-right .tribe-events-tooltip .tribe-events-arrow {
	left: 2px;
	right: auto;
}



/*-------------------------------------------------------------------------*/
/*	2. Global Events Styles */
/*-------------------------------------------------------------------------*/

/* Events Nav */

.tribe-events-sub-nav {
	left: 0;
	right: auto;
	direction:ltr;
}

.tribe-events-sub-nav li a {
	color:transparent !important;
}


/* Events Header */

#tribe-events-header {
	padding-left: 65px;
	padding-right: 0;
}

#tribe-events-header .tribe-events-user-recurrence-toggle input {
	margin-left: 10px;
	margin-right: 0;
}


/* Events Footer */

#tribe-events-footer {
	text-align: left;
}


/* Events Tooltip */

.tribe-events-tooltip:before, 
.tribe-events-tooltip:after {
	left: auto;
	right: 10px;
}



/*-------------------------------------------------------------------------*/
/*	3. Events Bar */
/*-------------------------------------------------------------------------*/

 /* Views */
 
 #tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner > div {
	float: right;
}

#tribe-events-bar #tribe-bar-views label.button {
	padding-left: 32px;
	padding-right: 20px;
	text-align: right;
	float: right;
}

#tribe-events-bar #tribe-bar-views label.button .cmsms_next_arrow {
	left: 13px;
	right: auto;
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}

#tribe-events-bar #tribe-bar-views ul.tribe-bar-views-list {
	left: auto;
	right: -50px;
	float: left;
}

#tribe-events-bar #tribe-bar-views ul.tribe-bar-views-list li.tribe-bar-views-option {
	margin-left: 0;
	margin-right: 10px;
	float: right;
}

#tribe-events-bar #tribe-bar-views ul.tribe-bar-views-list li.tribe-bar-views-option a {
	text-align: center;
}

#tribe-events-bar #tribe-bar-views.tribe-bar-views-open ul.tribe-bar-views-list {
	left: auto;
	right: 0;
}

#tribe-events-bar #tribe-bar-views.tribe-bar-views-open label.button .cmsms_next_arrow {
	-webkit-transform:none;
	-moz-transform:none;
	-ms-transform:none;
	-o-transform:none;
	transform:none;
	left: 16px;
	right: auto;
}

/*-------------------------------------------------------------------------*/
/*	4. Events Pages */
/*-------------------------------------------------------------------------*/

.photo-loader {
	left: auto;
	right: 50%;
}

#tribe-events-content.tribe-events-month .tribe-events-tooltip {
	left: auto;
	right: -1px;
}

#tribe-events-content.tribe-events-month .tribe-events-right .tribe-events-tooltip {
	left: -1px;
	right: auto;
}

#tribe-events-content.tribe-events-month .tribe-events-right .tribe-events-tooltip:before,
#tribe-events-content.tribe-events-month .tribe-events-right .tribe-events-tooltip:after {
	left: 10px;
	right: auto;
}

#tribe-events-content.tribe-events-month table.tribe-events-calendar thead th {
	border-right-width: 0;
	border-left-width: 1px;
	border-left-style: solid;
	text-align: center;
}

#tribe-events-content.tribe-events-month table.tribe-events-calendar thead th:last-child {
	border-right-width: 1px;
	border-left-width: 1px;
	border-left-style: solid;
}

#tribe-events-content.tribe-events-month table.tribe-events-calendar tbody td {
	border-right-width:0;
	border-left-width: 1px;
	border-left-style: solid;
}

#tribe-events-content.tribe-events-month table.tribe-events-calendar tbody td:first-child {
	border-right-width: 1px;
	border-right-style: solid;
}

#tribe-events-content.tribe-events-list .tribe-events-list-separator-month {
	float: none;
	text-align: right;
}

#tribe-events-content.tribe-events-list .vevent .tribe-events-event-image {
	padding-left: 40px;
	padding-right: 0;
	text-align: center;
	float: right;
}

#tribe-events-content.tribe-events-list .vevent .cmsms_events_list_event_wrap .cmsms_events_list_event_header .tribe-events-event-cost {
	float: left;
}

#tribe-events-content.tribe-events-list .vevent .cmsms_events_list_event_wrap .tribe-events-event-meta .tribe-events-venue-details .tribe-events-gmap {
	margin-left: 0;
	margin-right: 10px;
}

#tribe-events-content.tribe-events-day .tribe-events-day-time-slot > h5 {
	float: none;
	text-align: right;
}

#tribe-events-content.tribe-events-photo #tribe-events-photo-events .tribe-events-photo-event {
	float: right;
}

#tribe-events-content.tribe-events-photo #tribe-events-photo-events .tribe-events-photo-event .tribe-events-photo-event-wrap .tribe-events-event-image img {
	left: auto;
	right: 0;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .column.first {
	margin-right: 0;
	margin-left: -60px;
	border-right-width: 0;
	border-right-style: solid;
	float: right;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-content-wrap {
	float: right;
	padding-left: 0;
	padding-right: 60px;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-content-wrap .column {
	border-left-width: 0;
	border-right-width: 1px;
	border-right-style: solid;
	float: right;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-content-wrap .column.first {
	margin-left: -60px;
	border-right-width: 0;
	border-right-style: solid;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-header .tribe-grid-content-wrap .column {
	border-left-width: 0;
	border-right-width: 1px;
	border-right-style: solid;
	text-align: center;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-header .tribe-grid-content-wrap .column a, 
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-header .tribe-grid-content-wrap .column > span {
	text-align: center;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-allday .column.first span {
	text-align: center;
	left: 0;
	right: 0;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-week-grid-wrapper .tribe-grid-body .tribe-week-grid-hours {
	margin-right: 0;
	margin-left: -60px;
	border-right-width: 0;
	border-right-style: solid;
	float: right;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-week-grid-wrapper .tribe-grid-body .tribe-week-grid-hours div {
	text-align: center;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-body .tribe-events-tooltip {
	right:100% !important;
	left:auto !important;
	min-width:260px;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-body .tribe-events-right .tribe-events-tooltip {
	right:auto !important;
	left:100% !important;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-body .tribe-events-tooltip:before,
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-body .tribe-events-tooltip:after {
	border-left-width: 9px;
	border-right-width: 0;
	left: auto;
	right: -9px;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-body .tribe-events-tooltip:after {
	left: auto;
	right: -8px;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-body .tribe-events-right .tribe-events-tooltip:before,
#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-body .tribe-events-right .tribe-events-tooltip:after {
	border-left-width: 0;
	border-right-width: 9px;
	left: -9px;
	right: auto;
}

#tribe-events-content.tribe-events-week-grid .tribe-events-grid .tribe-grid-body .tribe-events-right .tribe-events-tooltip:after {
	right: auto;
	left: -8px;
}

#tribe-mobile-container .tribe-mobile-day .tribe-mobile-day-heading,
#tribe-mobile-container .tribe-mobile-day .tribe-mobile-day-date {
	float: none;
}

#tribe-mobile-container .tribe-mobile-day .tribe-events-mobile .tribe-events-event-image {
	text-align: center;
}



/*-------------------------------------------------------------------------*/
/*	5. Single Event */
/*-------------------------------------------------------------------------*/

#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_left {
	float: right;
}

#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_right {
	float: left;
}

#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_right .tribe-events-back {
	text-align: left;
}

#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_right .tribe-events-back a:before {
	margin-left: 7px;
}

#tribe-events-content.tribe-events-single .cmsms_single_event_header .cmsms_single_event_header_right .tribe-events-cal-links a {
	text-align: left;
}

#tribe-events-content.tribe-events-single .cmsms_single_event_inner .cmsms_single_event_img {
	padding-right: 0;
	padding-left: 20px;
	float: right;
}

#tribe-events-content.tribe-events-single .cmsms_single_event_inner .cmsms_single_event_img .tribe-events-event-image img {
	left: auto;
	right: 0;
}

#tribe-events-content.tribe-events-single .cmsms_single_event_inner .cmsms_single_event_map {
	padding-left: 0;
	padding-right: 20px;
	float: right;
}

#tribe-events-content.tribe-events-single .cmsms_single_event_inner .cmsms_single_event_img.cmsms_single_event_full_width,
#tribe-events-content.tribe-events-single .cmsms_single_event_inner .cmsms_single_event_map.cmsms_single_event_full_width {
	float: none;
}

#tribe-events-content.tribe-events-single .cmsms_single_event_meta .tribe-events-meta-group {
	float: right;
}

#tribe-events-content.tribe-events-single .cmsms_single_event_meta .tribe-events-meta-group .cmsms_event_meta_info .cmsms_event_meta_info_item .cmsms_event_meta_info_item_title,
#tribe-events-content.tribe-events-single .cmsms_single_event_meta .tribe-events-meta-group .cmsms_event_meta_info .cmsms_event_meta_info_item .cmsms_event_meta_info_item_descr,
#tribe-events-content.tribe-events-single .cmsms_single_event_meta .tribe-events-meta-group .cmsms_event_meta_info .cmsms_event_meta_info_item dt,
#tribe-events-content.tribe-events-single .cmsms_single_event_meta .tribe-events-meta-group .cmsms_event_meta_info .cmsms_event_meta_info_item dd {
	padding-left: 15px;
	padding-right: 0;
	text-align: right;
}

#tribe-events-content.tribe-events-single .cmsms_single_event_meta .tribe-events-meta-group .cmsms_event_meta_info .cmsms_event_meta_info_item .cmsms_event_meta_info_item_descr, 
#tribe-events-content.tribe-events-single .cmsms_single_event_meta .tribe-events-meta-group .cmsms_event_meta_info .cmsms_event_meta_info_item dd {
	padding-left:0;
	padding-right:15px;
}

#tribe-events-content.tribe-events-single .cmsms_single_event_meta .tribe-events-meta-group .cmsms_event_meta_info .cmsms_event_meta_info_item .cmsms_event_meta_info_item_descr,
#tribe-events-content.tribe-events-single .cmsms_single_event_meta .tribe-events-meta-group .cmsms_event_meta_info .cmsms_event_meta_info_item dd {
	margin-left: 0;
	margin-right: -4px;
	text-align: left;
}

ul.tribe-related-events > li {
	float: right;
}

ul.tribe-related-events > li .tribe-related-events-thumbnail img,
ul.tribe-related-events > li .tribe-related-events-thumbnail .cmsms_events_img_placeholder {
	left: auto;
	right: 0;
}

ul.tribe-related-events > li .tribe-related-events-thumbnail .cmsms_events_img_placeholder:before {
	left: 0;
	right: 0;
}

.tribe-events-venue .cmsms_events_venue_header .cmsms_events_venue_header_left {
	float: right;
}

.tribe-events-venue .cmsms_events_venue_header .cmsms_events_venue_header_right {
	float: left;
	text-align: left;
}

.tribe-events-venue .cmsms_events_venue_header .cmsms_events_venue_header_right .tribe-events-back {
	text-align: left;
}

.tribe-events-venue .cmsms_events_venue_header .cmsms_events_venue_header_right .tribe-events-back a:before {
	margin-left: 7px;
}

.tribe-events-venue .cmsms_events_venue_header .cmsms_events_venue_header_right a {
	text-align: left;
}

.tribe-events-venue .tribe-events-venue-meta .cmsms_events_venue_meta_inner .cmsms_events_venue_meta_img {
	padding-left: 20px;
	float: right;
}

.tribe-events-venue .tribe-events-venue-meta .cmsms_events_venue_meta_inner .cmsms_events_venue_meta_img .tribe-events-event-image img {
	left: auto;
	right: 0;
}

.tribe-events-venue .tribe-events-venue-meta .cmsms_events_venue_meta_inner .cmsms_events_venue_meta_map {
	padding-right: 20px;
	float: right;
}

.tribe-events-venue .tribe-events-venue-meta .cmsms_events_venue_meta_inner .cmsms_events_venue_meta_img.cmsms_events_venue_meta_full_width,
.tribe-events-venue .tribe-events-venue-meta .cmsms_events_venue_meta_inner .cmsms_events_venue_meta_map.cmsms_events_venue_meta_full_width {
	float: none;
}

.tribe-events-organizer .cmsms_events_organizer_header .cmsms_events_organizer_header_left {
	float: right;
}

.tribe-events-organizer .cmsms_events_organizer_header .cmsms_events_organizer_header_right {
	float: left;
	text-align: left;
}

.tribe-events-organizer .cmsms_events_organizer_header .cmsms_events_organizer_header_right .tribe-events-back {
	text-align: left;
}

.tribe-events-organizer .cmsms_events_organizer_header .cmsms_events_organizer_header_right .tribe-events-back a:before {
	margin-left: 7px;
}

.tribe-events-organizer .cmsms_events_organizer_header .cmsms_events_organizer_header_right a {
	text-align: left;
}

.tribe-events-organizer .tribe-events-organizer-meta .tribe-events-event-image img {
	left: auto;
	right: 0;
}

.widget.tribe-events-countdown-widget .tribe-countdown-time .tribe-countdown-timer {
	text-align: center;
}

.widget.tribe-events-countdown-widget .tribe-countdown-time .tribe-countdown-timer div {
	text-align: center;
}

.widget.tribe-events-countdown-widget .tribe-countdown-time .tribe-countdown-timer .tribe-countdown-number {
	float: right;
}

.widget.tribe-events-countdown-widget .tribe-countdown-time .tribe-countdown-timer .tribe-countdown-number.tribe-countdown-right {
	float: right;
}

.widget.tribe-events-countdown-widget .tribe-countdown-time .tribe-countdown-timer .tribe-countdown-colon {
	float: right;
}

.widget.tribe-events-venue-widget .tribe-venue-widget-wrapper .tribe-venue-widget-venue .tribe-venue-widget-thumbnail {
	text-align: center;
}

.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar th,
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar td {
	border-right-width: 0;
	border-left-width: 1px;
	border-left-style: solid;
	text-align: center;
}

.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar th:first-child,
.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar td:first-child {
	border-right-width: 1px;
	border-right-style: solid;
}

.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .tribe-mini-calendar-nav {
	text-align: center;
}

.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .tribe-mini-calendar-nav div {
	text-align: center;
}

.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .tribe-mini-calendar-nav div > span {
	text-align: center;
}

.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .tribe-mini-calendar-nav div #ajax-loading-mini {
	left: 0;
	right: 0;
}

.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .vcalendar td div {
	text-align: center;
}

.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-grid-wrapper .tribe-mini-calendar .vcalendar td.tribe-events-has-events div .tribe-mini-calendar-day-link:before {
	left: 0;
	right: 0;
}

.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper .tribe-events-loop .vevent .tribe-mini-calendar-event .list-date {
	margin-left: 10px;
	margin-right: 0;
	float: right;
}

.widget.tribe_mini_calendar_widget .tribe-mini-calendar-wrapper .tribe-mini-calendar-list-wrapper .tribe-events-loop .vevent .tribe-mini-calendar-event .list-date span {
	text-align: center;
}

html.csstransitions #tribe-events-bar #tribe-bar-views .tribe-bar-views-inner ul.tribe-bar-views-list {
	-webkit-transition: right .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
	-moz-transition: right .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
	-ms-transition: right .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
	-o-transition: right .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
	transition: right .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
}



/*-------------------------------------------------------------------------*/
/*	Medium Monitor
/*-------------------------------------------------------------------------*/
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
	.cmsms_woo.fullwidth .cmsms_products .product .product_outer .product_inner .cmsms_product_footer > a,
	.cmsms_products_shortcode .columns-4 .cmsms_products .product .product_outer .product_inner .cmsms_product_footer > a,
	.cmsms_selected_products_shortcode .columns-4 .cmsms_products .product .product_outer .product_inner .cmsms_product_footer > a {
		padding-left: 0;
		padding-right: 3px;
	}

	.cmsms_woo.fullwidth .cmsms_products .product .product_outer .product_inner .cmsms_product_footer > a:before,
	.cmsms_products_shortcode .columns-4 .cmsms_products .product .product_outer .product_inner .cmsms_product_footer > a:before,
	.cmsms_selected_products_shortcode .columns-4 .cmsms_products .product .product_outer .product_inner .cmsms_product_footer > a:before {
		margin-left: 5px;
	}
}
/*-------------------------------------------------------------------------*/
/*	Tablet Monitor
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
	.cmsms_woo.fullwidth .cmsms_products .product:nth-child(4n+1),
	.cmsms_products_shortcode .columns-4 .cmsms_products .product:nth-child(4n+1),
	.cmsms_selected_products_shortcode .columns-4 .cmsms_products .product:nth-child(4n+1) {
		clear: none;
	}
	
	.cmsms_woo.fullwidth .cmsms_products .product:nth-child(2n+1),
	.cmsms_products_shortcode .columns-4 .cmsms_products .product:nth-child(2n+1),
	.cmsms_selected_products_shortcode .columns-4 .cmsms_products .product:nth-child(2n+1) {
		clear: right;
	}
}
/*-------------------------------------------------------------------------*/
/*	Small Tablet Monitor
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
	.cmsms_woo.fullwidth .cmsms_products .product,
	.cmsms_woo.r_sidebar .cmsms_products .product,
	.cmsms_woo.l_sidebar .cmsms_products .product,
	.cmsms_products_shortcode .columns-4 .cmsms_products .product,
	.cmsms_selected_products_shortcode .columns-4 .cmsms_products .product,
	.cmsms_products_shortcode .columns-3 .cmsms_products .product,
	.cmsms_selected_products_shortcode .columns-3 .cmsms_products .product,
	.cmsms_products_shortcode .columns-2 .cmsms_products .product,
	.cmsms_selected_products_shortcode .columns-2 .cmsms_products .product,
	.cmsms_products_shortcode .columns-1 .cmsms_products .product,
	.cmsms_selected_products_shortcode .columns-1 .cmsms_products .product,
	.col2-set > *,
	.cart-collaterals > *,
	.shipping_calculator .shipping-calculator-form .form-row,
	.checkout_coupon .form-row,
	.checkout .woocommerce-billing-fields #billing_first_name_field,
	.checkout .woocommerce-billing-fields #billing_last_name_field,
	.checkout .woocommerce-billing-fields #billing_state_field,
	.checkout .woocommerce-billing-fields #billing_postcode_field,
	.checkout .woocommerce-billing-fields #billing_email_field,
	.checkout .woocommerce-billing-fields #billing_phone_field,
	.checkout .woocommerce-shipping-fields .shipping_address #shipping_first_name_field,
	.checkout .woocommerce-shipping-fields .shipping_address #shipping_last_name_field,
	.checkout .woocommerce-shipping-fields .shipping_address #shipping_state_field,
	.checkout .woocommerce-shipping-fields .shipping_address #shipping_postcode_field {
		float: none;
	}

	.checkout #order_review .shop_table th,
	.checkout #order_review .shop_table td {
		padding-right: 10px;
	}

	.cmsms_single_product .cmsms_product_left_column,
	.cmsms_single_product .cmsms_product_right_column {
		float: none;
		padding-right:0;
	}

	.shop_table.cart,
	.shop_table.cart tbody,
	.shop_table.cart tr,
	.shop_table.cart th,
	.shop_table.cart td {
		text-align: center;
	}

	.shop_table.cart td.product-quantity .buttons_added {
		float: none;
	}

	.shop_table.cart td.actions {
		text-align: center;
	}

	.shop_table.cart td.actions .coupon {
		float: none;
		text-align: center;
	}

	.shop_table.my_account_orders {
		text-align: center;
	}

	.shop_table.my_account_orders tbody,
	.shop_table.my_account_orders tr,
	.shop_table.my_account_orders th,
	.shop_table.my_account_orders td {
		text-align: center;
	}

	.shop_table.my_account_orders td.order-status {
		text-align: center;
	}

	.shop_table.order_details th,
	.shop_table.order_details td {
		padding-right: 10px;
	}
}
/*-------------------------------------------------------------------------*/
/*	4.	Phone Monitor
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 540px) {
	.cmsms_woo_wrap_result .woocommerce-result-count {
		float: none;
		text-align: center;
	}

	.cmsms_woo_wrap_result .woocommerce-ordering {
		float: none;
	}

	.cmsms_single_product .cmsms_woo_tabs #reviews #comments .commentlist .comment .comment_container .comment-text .cmsms_star_rating {
		float: none;
	}

	.cmsms_single_product .cmsms_woo_tabs #reviews #comments .commentlist .comment .comment_container .comment-text .meta {
		padding-left: 0;
	}

	.woocommerce-message,
	.woocommerce-info {
		text-align: center;
	}

	.woocommerce-message .button,
	.woocommerce-info .button {
		margin-left: 0;
		text-align: center;
	}

	.shop_table.cart td.actions {
		text-align: center;
	}

	.shop_table.cart td.actions .coupon {
		float: none;
		text-align: center;
	}

	.checkout #order_review #payment .place-order .terms {
		float: none;
	}
}
