/**
 * @package 	WordPress
 * @subpackage 	EcoNature
 * @version 	1.1.3
 * 
 * WooCommerce CSS Rules
 * Created by CMSMasters
 * 
 */
/*-------------------------------------------------------------------------

	1. 	Shop Page
	2. 	Single Product
	3. 	Cart
	4. 	Checkout
	5. 	Order
	6. 	Dynamic Cart
	7. 	Widgets
	8. 	Shortcodes
	9.	CSS3 Animations

-------------------------------------------------------------------------*/


/* -------------------------------- Start WooCommerce Styles (cmsms_woo) -------------------------------- */
.woocommerce:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.cmsms_woo.fullwidth {
  padding-top: 40px;
  padding-bottom: 40px;
}
.demo_store {
  display: none;
}
.product .preloader {
  padding-bottom: 100%;
}
.product .preloader img {
  width: 100%;
  min-width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.product .cmsms_hover_slider .cmsms_hover_slider_items {
  padding-bottom: 100%;
}
/*	Star Rating */
.cmsms_star_rating {
  width: 73px;
  height: 12px;
  display: block;
  position: relative;
  overflow: hidden;
}
.cmsms_star_rating .cmsms_star {
  font-size: 12px;
  width: 13px;
  height: 12px;
  display: block;
  margin-left: 2px;
  position: relative;
  overflow: hidden;
  float: left;
}
.cmsms_star_rating .cmsms_star:first-child {
  margin-left: 0;
}
.cmsms_star_rating .cmsms_star:before {
  width: 1em;
  height: 1em;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.cmsms_star_rating .cmsms_star_trans_wrap {
  position: relative;
  overflow: hidden;
}
.cmsms_star_rating .cmsms_star_color_wrap {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.cmsms_star_rating .cmsms_star_color_wrap .cmsms_star_color_inner {
  width: 73px;
  height: 12px;
  position: relative;
  overflow: hidden;
}
.comment-form-rating {
  position: relative;
  overflow: hidden;
}
.comment-form-rating .stars > span {
  display: block;
  width: 65px;
  height: 14px;
  position: relative;
  overflow: hidden;
}
.comment-form-rating .stars > span:before,
.comment-form-rating .stars > span a:before {
  font-family: "fontello";
  line-height: 1em;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  vertical-align: baseline;
  font-variant: normal;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  text-indent: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.comment-form-rating .stars > span:before {
  content: '\e82a\e82a\e82a\e82a\e82a';
}
.comment-form-rating .stars > span a:before {
  content: '\e829\e829\e829\e829\e829';
}
.comment-form-rating .stars > span a {
  color: transparent;
  text-indent: 9999px;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.comment-form-rating .stars > span a.star-1 {
  width: 13px;
  z-index: 10;
}
.comment-form-rating .stars > span a.star-2 {
  width: 26px;
  z-index: 9;
}
.comment-form-rating .stars > span a.star-3 {
  width: 39px;
  z-index: 8;
}
.comment-form-rating .stars > span a.star-4 {
  width: 52px;
  z-index: 7;
}
.comment-form-rating .stars > span a.star-5 {
  width: 65px;
  z-index: 6;
}
/*	Sale */
.onsale,
.out-of-stock {
  font-size: 13px;
  line-height: 40px;
  text-align: center;
  overflow: hidden;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  bottom: auto;
  z-index: 10;
}
.out-of-stock {
  font-size: 12px;
  line-height: 12px;
  width: 50px;
  height: 50px;
  padding-top: 12px;
  top: 15px;
}
/*	checkbox and radio */
.shipping_method,
.input-checkbox,
.input-radio {
  margin: auto;
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
  bottom: auto;
  opacity: 0;
}
.shipping_method + label,
.input-checkbox + label,
.input-radio + label {
  display: inline-block !important;
  padding: 0 0 0 25px !important;
  position: relative;
  cursor: pointer;
}
.shipping_method + label:before,
.input-checkbox + label:before,
.input-radio + label:before {
  content: '';
  display: block;
  width: 17px;
  height: 17px;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
  bottom: 0;
  border-width: 1px;
  border-style: solid;
}
.shipping_method + label:after,
.input-checkbox + label:after,
.input-radio + label:after {
  content: '';
  display: block;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
  width: 9px;
  height: 9px;
  margin: auto !important;
  position: absolute;
  left: 4px;
  right: auto;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.shipping_method:checked + label:after,
.input-checkbox:checked + label:after,
.input-radio:checked + label:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.input-radio + label:before,
.shipping_method + label:before,
.input-radio + label:after,
.shipping_method + label:after {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
#shipping_method {
  padding: 0;
  margin: 0;
}
#shipping_method li {
  overflow: hidden;
}
#shipping_method li:before {
  content: none;
}
.woocommerce-message,
.woocommerce-info {
  padding: 25px 25px 15px;
  margin-bottom: 30px;
  float: none;
  position: relative;
  clear: both;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.woocommerce-message .button,
.woocommerce-info .button {
  margin-right: 30px;
  margin-bottom: 10px;
}
.woocommerce-info {
  padding-bottom: 25px;
}
/*	Quantity */
.quantity {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
}
.quantity .text {
  display: block;
  width: 65px;
  min-width: 0;
  height: 36px;
  padding: 0 0 0 5px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*	Variation */
dl.variation {
  display: block;
}
dl.variation:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
dl.variation dt,
dl.variation dd,
dl.variation p {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
dl.variation dt {
  padding-right: 10px;
  float: left;
  clear: left;
}
dl.variation dd {
  float: left;
}
/*	Col2-set */
.col2-set {
  margin: 0 -2% 30px;
  position: relative;
  overflow: hidden;
}
.col2-set > * {
  width: 46%;
  margin: 0 2%;
  position: relative;
  float: left;
  overflow: hidden;
}
/*	Form Row Styles */
.form-row {
  width: 46%;
  margin: 0 2%;
  position: relative;
  float: left;
}
.form-row:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.form-row.form-row-wide,
.form-row.notes,
.form-row.place-order {
  width: 96%;
  float: none;
  clear: both;
}
.form-row.place-order {
  width: auto;
  margin: 0;
}
.form-row label {
  display: block;
  padding: 0 0 5px;
}
.form-row select,
.form-row input,
.form-row textarea {
  width: 100%;
  max-width: 100%;
}
.form-row textarea {
  min-height: 200px;
}
.form-row input[type="checkbox"],
.form-row input[type="radio"],
.form-row input[type="submit"],
.form-row input[type="button"] {
  width: auto;
}
.form-row select {
  display: block !important;
}
.form-row .select2-container {
  display: none !important;
}
/*-------------------------------------------------------------------------*/
/*	1. Shop Page */
/*-------------------------------------------------------------------------*/
.cmsms_woo_wrap_result {
  position: relative;
  overflow: hidden;
  clear: both;
}
.cmsms_woo_wrap_result select {
  height: 42px;
  width: 100%;
  max-width: 100%;
}
.cmsms_woo_wrap_result .woocommerce-result-count {
  padding: 11px 10px;
  float: right;
}
.cmsms_woo_wrap_result .woocommerce-ordering {
  float: left;
}
div.products {
  margin: 0 0 50px;
  position: relative;
  overflow: hidden;
}
div.products > h2 {
  margin: 0;
}
.page-description {
  margin: 0 -2%;
}
.cmsms_products {
  margin: 0 -2%;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.cmsms_products .product {
  width: 21%;
  margin: 0 2%;
  padding: 0;
  position: relative;
  word-wrap: break-word;
  overflow: hidden;
  float: left;
}
.cmsms_products .product:before {
  content: none;
}
.cmsms_products .product.outofstock .onsale {
  display: none;
}
.cmsms_products .product .product_outer {
  padding: 40px 0 0;
  position: relative;
  overflow: hidden;
}
.cmsms_products .product .product_outer .product_inner {
  position: relative;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_img {
  margin-bottom: 5px;
  overflow: hidden;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_img:hover img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_header,
.cmsms_products .product .product_outer .product_inner .cmsms_product_cat,
.cmsms_products .product .product_outer .product_inner .cmsms_product_info {
  padding: 0 15px;
  position: relative;
  overflow: hidden;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_header .cmsms_product_title {
  margin: 0;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_cat {
  margin-top: -5px;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_info {
  margin-top: 5px;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_info .cmsms_star_rating {
  margin-top: 7px;
  float: right;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_info .price {
  display: block;
  position: relative;
  overflow: hidden;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_info .price del {
  margin-right: 5px;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_info .price ins {
  text-decoration: none;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_footer {
  margin-top: 5px;
  position: relative;
  border-top-width: 1px;
  border-top-style: solid;
  overflow: hidden;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_footer > a {
  display: block;
  padding: 10px 5px 10px 15px;
  text-align: center;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_footer > a.cmsms_add_to_cart_button,
.cmsms_products .product .product_outer .product_inner .cmsms_product_footer > a.added_to_cart,
.cmsms_products .product .product_outer .product_inner .cmsms_product_footer > a.cmsms_add_to_cart_button + .cmsms_details_button,
.cmsms_products .product .product_outer .product_inner .cmsms_product_footer > a.added_to_cart + .cmsms_details_button {
  width: 50%;
  text-align: left;
  float: left;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_footer > a.cmsms_add_to_cart_button + .cmsms_details_button,
.cmsms_products .product .product_outer .product_inner .cmsms_product_footer > a.added_to_cart + .cmsms_details_button {
  padding-left: 10px;
  border-left-width: 1px;
  border-left-style: solid;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_footer > a.cmsms_add_to_cart_button.loading {
  opacity: 1;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_footer > a.cmsms_add_to_cart_button.added {
  display: none;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_footer > a:before {
  font-size: 14px;
  margin: 0 10px 0 0;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_footer > a.added_to_cart:before,
.cmsms_products .product .product_outer .product_inner .cmsms_product_footer > a.cmsms_add_to_cart_button.loading:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  vertical-align: baseline;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_footer > a.added_to_cart:before {
  content: '\ea85';
}
.cmsms_products .product .product_outer .product_inner .cmsms_product_footer > a.cmsms_add_to_cart_button.loading:before {
  content: '\e815';
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
.r_sidebar .content .cmsms_products .product,
.l_sidebar .content .cmsms_products .product {
  width: 29.33%;
}
.r_sidebar .content .cmsms_products .product:nth-child(3n+1),
.l_sidebar .content .cmsms_products .product:nth-child(3n+1) {
  clear: left;
}
.fullwidth .middle_content .cmsms_products .product:nth-child(4n+1) {
  clear: left;
}
/*-------------------------------------------------------------------------*/
/*	2. Single Product */
/*-------------------------------------------------------------------------*/
.cmsms_single_product {
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_product_left_column {
  width: 43.2%;
  padding: 0 0 60px;
  position: relative;
  float: left;
  overflow: hidden;
}
.cmsms_single_product .cmsms_product_left_column .onsale,
.cmsms_single_product .cmsms_product_left_column .out-of-stock {
  left: auto;
  right: 10px;
  top: 10px;
}
.cmsms_single_product .cmsms_product_images {
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_product_images .cmsms_product_image {
  position: relative;
  display: block;
  max-width: 100%;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.cmsms_single_product .cmsms_product_images .cmsms_product_image img {
  width: auto;
  height: auto;
  max-width: 100%;
}
.cmsms_single_product .cmsms_product_images .cmsms_product_thumbs {
  display: block;
  margin: 0 -5px;
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_product_images .cmsms_product_thumbs .cmsms_product_thumb {
  display: inline-block;
  margin: 10px 5px 0;
  width: 80px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.cmsms_single_product .cmsms_product_right_column {
  width: 56.8%;
  padding: 0 0 60px 40px;
  position: relative;
  float: right;
  overflow: hidden;
}
.cmsms_single_product .cmsms_product_right_column .out-of-stock {
  display: none;
}
.cmsms_single_product .cmsms_product_right_column .product_title {
  margin-bottom: 10px;
}
.cmsms_single_product .cmsms_product_right_column .cmsms_star_rating {
  margin-bottom: 20px;
}
.cmsms_single_product .cmsms_product_right_column .price {
  display: inline-block;
  padding-bottom: 25px;
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_product_right_column .price del {
  margin-right: 10px;
}
.cmsms_single_product .cmsms_product_right_column .price ins {
  text-decoration: none;
}
.cmsms_single_product .cmsms_product_right_column .cart {
  margin: 25px 0 0;
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_product_right_column .cart .variations {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_product_right_column .cart .variations td {
  padding: 0 15px 0 0;
}
.cmsms_single_product .cmsms_product_right_column .cart .variations td select {
  margin: 0 15px 0 0;
}
.cmsms_single_product .cmsms_product_right_column .cart .single_variation_wrap {
  margin: 30px 0 0;
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_product_right_column .cart .quantity {
  display: block;
  margin: 0 10px 10px 0;
  float: left;
}
.cmsms_single_product .cmsms_product_right_column .cart .single_add_to_cart_button {
  padding: 6px 20px;
}
.cmsms_single_product .cmsms_product_right_column .product_meta {
  margin: 30px 0 0;
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_product_right_column .product_meta > span {
  display: block;
  margin-top: 5px;
}
.cmsms_single_product .cmsms_product_right_column .product_meta > span:first-child {
  margin-top: 0;
}
.cmsms_single_product .cmsms_woo_tabs {
  margin: 0 0 50px;
  position: relative;
  clear: both;
  overflow: hidden;
}
.cmsms_single_product .cmsms_woo_tabs .cmsms_tabs_list .cmsms_tabs_list_item > a {
  padding-left: 20px;
  padding-right: 20px;
}
.cmsms_single_product .cmsms_woo_tabs .shop_attributes {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_woo_tabs .shop_attributes th,
.cmsms_single_product .cmsms_woo_tabs .shop_attributes td {
  padding: 10px;
  border-top-width: 1px;
  border-top-style: solid;
}
.cmsms_single_product .cmsms_woo_tabs .shop_attributes th *,
.cmsms_single_product .cmsms_woo_tabs .shop_attributes td * {
  margin: 0;
  padding: 0;
}
.cmsms_single_product .cmsms_woo_tabs .shop_attributes tr:first-child th,
.cmsms_single_product .cmsms_woo_tabs .shop_attributes tr:first-child td {
  border-top-width: 0;
  border-top-style: solid;
}
.cmsms_single_product .cmsms_woo_tabs .shop_attributes th {
  font-weight: bold;
  width: 200px;
  max-width: 100%;
}
.cmsms_single_product .cmsms_woo_tabs #reviews {
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_woo_tabs #reviews #comments {
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_woo_tabs #reviews #comments .cmsms_star_rating {
  margin-top: 8px;
  float: right;
}
.cmsms_single_product .cmsms_woo_tabs #reviews #comments > h2 {
  padding-right: 15px;
  overflow: hidden;
}
.cmsms_single_product .cmsms_woo_tabs #reviews #comments .commentlist {
  list-style: none;
  margin: 30px 0 0;
  padding: 35px 0 0;
  position: relative;
  border-top-width: 1px;
  border-top-style: solid;
  overflow: hidden;
}
.cmsms_single_product .cmsms_woo_tabs #reviews #comments .commentlist .comment {
  margin: 0 0 25px;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_woo_tabs #reviews #comments .commentlist .comment .comment_container {
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_woo_tabs #reviews #comments .commentlist .comment .comment_container .avatar {
  margin: 5px 20px 0 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  float: left;
}
.cmsms_single_product .cmsms_woo_tabs #reviews #comments .commentlist .comment .comment_container .comment-text {
  padding: 0 0 5px;
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  overflow: hidden;
}
.cmsms_single_product .cmsms_woo_tabs #reviews #comments .commentlist .comment .comment_container .comment-text .cmsms_star_rating {
  margin: 5px 0 0;
  float: right;
}
.cmsms_single_product .cmsms_woo_tabs #reviews #comments .commentlist .comment .comment_container .comment-text .meta {
  padding: 0 15px 15px 0;
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_woo_tabs #reviews #comments .commentlist .comment .comment_container .comment-text .meta h5 {
  margin: 0 0 -5px;
}
.cmsms_single_product .cmsms_woo_tabs #reviews #comments .commentlist .comment .comment_container .comment-text .description {
  position: relative;
  clear: both;
  overflow: hidden;
}
.cmsms_single_product .cmsms_woo_tabs #reviews #comments .commentlist .comment:last-child {
  margin: 0;
}
.cmsms_single_product .cmsms_woo_tabs #reviews #comments .commentlist .comment:last-child .comment_container .comment-text {
  border-bottom-width: 0;
  border-bottom-style: solid;
}
.cmsms_single_product .cmsms_woo_tabs #reviews .comment-respond {
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_woo_tabs #reviews .comment-respond .comment-reply-title {
  position: relative;
  overflow: hidden;
}
.cmsms_single_product .cmsms_woo_tabs #reviews .comment-respond .comment-form-author,
.cmsms_single_product .cmsms_woo_tabs #reviews .comment-respond .comment-form-email {
  width: 48%;
}
.cmsms_single_product .cmsms_woo_tabs #reviews .comment-respond .stars {
  padding-bottom: 0;
}
.cmsms_single_product .cmsms_woo_tabs #reviews .comment-respond label {
  display: block;
  padding: 0 0 10px;
}
/*-------------------------------------------------------------------------*/
/*	3. Cart */
/*-------------------------------------------------------------------------*/
.shop_table {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
  margin: 0 0 50px;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 0;
  border-bottom-style: solid;
  overflow: hidden;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.shop_table thead,
.shop_table tr {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.shop_table th,
.shop_table td {
  padding: 15px 5px 15px 25px;
  vertical-align: middle;
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-align: left;
  overflow: hidden;
}
.shop_table td.product-remove .remove {
  line-height: 26px;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.shop_table td.product-thumbnail img {
  width: 50px;
  height: auto;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.shop_table td.actions {
  padding: 15px 20px;
  text-align: right;
}
.shop_table td.actions .coupon {
  position: relative;
  float: left;
  overflow: hidden;
}
.shop_table td.actions .coupon label {
  display: none;
}
.shop_table td.actions .coupon .input-text {
  padding-top: 7px;
  padding-bottom: 7px;
}
.shop_table td.actions .button {
  max-width: 100%;
  margin-left: 10px;
  padding: 6px 15px;
}
.cart-collaterals {
  margin: 0 -2%;
}
.cart-collaterals > * {
  width: 96%;
  float: none;
  margin: 0 2%;
  clear: both;
}
.cart-collaterals .cross-sells {
  margin-bottom: 50px;
}
.cart-collaterals .cross-sells > h2 {
  margin: 0;
}
.cart_totals {
  position: relative;
  overflow: hidden;
}
.cart_totals > h2 {
  position: relative;
}
.cart_totals .wc-proceed-to-checkout {
  padding: 20px 0 0;
  position: relative;
  overflow: hidden;
}
.cart_totals table {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 0;
  border-bottom-style: solid;
  overflow: hidden;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.cart_totals table tr {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.cart_totals table tr th,
.cart_totals table tr td {
  width: 43%;
  padding: 15px 20px;
  vertical-align: middle;
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-align: left;
  overflow: hidden;
}
.cart_totals table tr td {
  width: 57%;
  text-align: right;
}
.cart_totals table tr.cart-subtotal th,
.cart_totals table tr.order-total th {
  font-weight: bold;
}
.cart_totals table tr.cart-subtotal td,
.cart_totals table tr.order-total td,
.cart_totals table tr.cart-subtotal td strong,
.cart_totals table tr.order-total td strong {
  font-weight: normal;
}
.cart_totals table tr.shipping #shipping_method {
  padding: 0;
  margin: 0;
}
.cart_totals table tr.shipping #shipping_method li:before {
  content: none;
}
.cart_totals table tr.shipping #shipping_method input[type="checkbox"],
.cart_totals table tr.shipping #shipping_method input[type="radio"] {
  left: auto;
  right: 0;
  float: right;
}
.cart_totals table tr.shipping #shipping_method input[type="checkbox"] + label,
.cart_totals table tr.shipping #shipping_method input[type="radio"] + label {
  padding-left: 0 !important;
  padding-right: 25px !important;
  float: right;
}
.cart_totals table tr.shipping #shipping_method input[type="checkbox"] + label:before,
.cart_totals table tr.shipping #shipping_method input[type="radio"] + label:before {
  left: auto;
  right: 0;
}
.cart_totals table tr.shipping #shipping_method input[type="checkbox"] + label:after {
  left: auto;
  right: 3px;
}
.cart_totals table tr.shipping #shipping_method input[type="radio"] + label:after {
  left: auto;
  right: 4px;
}
.woocommerce-shipping-calculator {
  padding: 10px 0 0;
}
.woocommerce-shipping-calculator > p {
  padding: 0;
}
.woocommerce-shipping-calculator .shipping-calculator-form {
  padding: 10px 0 0;
  margin: 0 -2%;
}
.woocommerce-shipping-calculator .shipping-calculator-form > * {
  width: 96%;
  margin: 0 2%;
  clear: both;
}
.woocommerce-shipping-calculator .shipping-calculator-form input,
.woocommerce-shipping-calculator .shipping-calculator-form select,
.woocommerce-shipping-calculator .shipping-calculator-form textarea,
.woocommerce-shipping-calculator .shipping-calculator-form button {
  width: 100%;
  max-width: 100%;
}
.woocommerce-shipping-calculator .shipping-calculator-form input[type="checkbox"],
.woocommerce-shipping-calculator .shipping-calculator-form input[type="radio"] {
  width: auto;
}
.woocommerce-shipping-calculator .shipping-calculator-form .button {
  padding: 6px 15px;
  cursor: pointer;
}
/*-------------------------------------------------------------------------*/
/*	4. Checkout */
/*-------------------------------------------------------------------------*/
.checkout_coupon {
  margin: 0 -2% 30px;
  position: relative;
  overflow: hidden;
}
.checkout_coupon input[type="submit"] {
  width: 100%;
  max-width: 100%;
  padding: 11px 15px;
}
.checkout {
  position: relative;
  overflow: hidden;
}
.woocommerce-billing-fields,
.woocommerce-shipping-fields {
  margin: 0 -2%;
  position: relative;
  overflow: hidden;
}
.woocommerce-billing-fields:after,
.woocommerce-shipping-fields:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.woocommerce-billing-fields > h3,
.woocommerce-shipping-fields > h3 {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  float: none;
  position: relative;
  clear: both;
  overflow: hidden;
}
#order_review {
  position: relative;
  overflow: hidden;
}
#order_review .shop_table {
  border-left-width: 0;
  border-left-style: solid;
}
#order_review .shop_table th,
#order_review .shop_table td {
  width: 50%;
  border-left-width: 1px;
  border-left-style: solid;
}
#order_review .shop_table thead th {
  font-weight: bold;
  text-transform: uppercase;
}
#order_review .shop_table td.product-name,
#order_review .shop_table td.product-name * {
  font-weight: normal;
  text-transform: none;
}
#order_review .shop_table tr.cart-subtotal th,
#order_review .shop_table tr.order-total th,
#order_review .shop_table tr.cart-subtotal td,
#order_review .shop_table tr.order-total td {
  font-weight: bold;
  text-transform: uppercase;
}
#order_review #payment {
  padding: 25px 30px;
  position: relative;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#order_review #payment .payment_methods {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
#order_review #payment .payment_methods li {
  position: relative;
  overflow: hidden;
}
#order_review #payment .payment_methods li:before {
  content: none;
}
#order_review #payment .payment_methods label {
  display: inline-block;
  float: none;
}
#order_review #payment .payment_methods label img {
  display: none;
}
#order_review #payment .payment_methods .payment_box {
  margin: 20px 0 10px;
  padding: 25px 20px;
  position: relative;
  border-width: 1px;
  border-style: solid;
  clear: both;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#order_review #payment .payment_methods .payment_box:before,
#order_review #payment .payment_methods .payment_box:after {
  content: '';
  border-bottom: 10px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  left: 25px;
  top: -10px;
}
#order_review #payment .payment_methods .payment_box:after {
  top: -9px;
}
#order_review #payment .payment_methods .payment_box p {
  padding: 0;
}
#order_review #payment .place-order {
  padding: 30px 0 0;
  position: relative;
  overflow: hidden;
}
#order_review #payment .place-order .button {
  padding: 6px 15px;
}
#order_review #payment .place-order .terms {
  padding: 8px 0 8px 20px;
  float: right;
  overflow: hidden;
}
/*-------------------------------------------------------------------------*/
/*	5. Order */
/*-------------------------------------------------------------------------*/
ul.order_details {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-top-width: 0;
  border-top-style: solid;
  border-right-width: 0;
  border-right-style: solid;
  overflow: hidden;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
ul.order_details li {
  width: 25%;
  margin: 0;
  padding: 0;
  position: relative;
  border-top-width: 1px;
  border-top-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  float: left;
  overflow: hidden;
}
ul.order_details li:before {
  content: none;
}
ul.order_details li > span {
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  padding: 15px 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
ul.order_details li > strong {
  font-weight: normal;
  display: block;
  padding: 15px 20px;
}
.shop_table.order_details {
  border-left-width: 0;
  border-left-style: solid;
}
.shop_table.order_details th,
.shop_table.order_details td {
  width: 50%;
  border-left-width: 1px;
  border-left-style: solid;
}
.shop_table.order_details thead th {
  font-weight: bold;
  text-transform: uppercase;
}
.shop_table.order_details td.product-name,
.shop_table.order_details td.product-name * {
  font-weight: normal;
  text-transform: none;
}
.shop_table.order_details tfoot tr:first-child th,
.shop_table.order_details tfoot tr:last-child th,
.shop_table.order_details tfoot tr:first-child td,
.shop_table.order_details tfoot tr:last-child td,
.shop_table.order_details tfoot tr:first-child th *,
.shop_table.order_details tfoot tr:last-child th *,
.shop_table.order_details tfoot tr:first-child td *,
.shop_table.order_details tfoot tr:last-child td * {
  font-weight: bold;
  text-transform: uppercase;
}
.customer_details {
  margin: 0 0 30px;
  position: relative;
  overflow: hidden;
}
.customer_details dt,
.customer_details dd {
  display: block;
  min-width: 15%;
  max-width: 100%;
  margin-bottom: 10px;
  float: left;
}
.customer_details dt {
  padding-right: 20px;
  clear: left;
}
.create-account > p {
  margin-left: 2%;
  margin-right: 2%;
}
.login {
  margin: 0 -2%;
  position: relative;
  overflow: hidden;
}
.login:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.login label.inline {
  display: inline-block;
  margin-left: 10px;
}
.login > * {
  margin-left: 2%;
  margin-right: 2%;
  overflow: hidden;
}
.login .lost_password {
  clear: both;
}
.track_order {
  margin: 0 -2%;
  position: relative;
  overflow: hidden;
}
.track_order:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.track_order > * {
  margin-left: 2%;
  margin-right: 2%;
  overflow: hidden;
}
/*-------------------------------------------------------------------------*/
/*	6. Dynamic Cart */
/*-------------------------------------------------------------------------*/
.cmsms_dynamic_cart {
  margin-top: 65px;
  margin-right: 10px;
  visibility: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
  opacity: 0;
}
.cmsms_dynamic_cart .cmsms_dynamic_cart_button {
  display: block;
  width: 40px;
  height: 40px;
  cursor: default;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.cmsms_dynamic_cart .cmsms_dynamic_cart_button:before {
  font-size: 13px;
  width: 1em;
  height: 1em;
  margin: auto !important;
  position: absolute;
  left: -2px;
  right: 0;
  top: 0;
  bottom: 0;
}
.cmsms_dynamic_cart .widget_shopping_cart_content {
  width: 270px;
  margin: 0 13px 0 0;
  padding: 20px 20px 25px;
  visibility: hidden;
  position: absolute;
  right: -50px;
  border-width: 1px;
  border-style: solid;
  opacity: 0;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.03);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.03);
}
.cmsms_dynamic_cart .widget_shopping_cart_content:before,
.cmsms_dynamic_cart .widget_shopping_cart_content:after {
  content: '';
  border-left: 8px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  position: absolute;
  right: -8px;
  top: 15px;
}
.cmsms_dynamic_cart .widget_shopping_cart_content:after {
  right: -7px;
}
.cmsms_dynamic_cart .widget_shopping_cart_content .cart_list {
  list-style: none;
  max-height: 420px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.cmsms_dynamic_cart .widget_shopping_cart_content .cart_list li {
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  overflow: hidden;
}
.cmsms_dynamic_cart .widget_shopping_cart_content .cart_list li:before {
  content: none;
}
.cmsms_dynamic_cart .widget_shopping_cart_content .cart_list li a {
  display: block;
  float: none;
}
.cmsms_dynamic_cart .widget_shopping_cart_content .cart_list li a.remove {
  position: relative;
  margin-left: 0;
  margin-right: 10px;
  float: left;
}
.cmsms_dynamic_cart .widget_shopping_cart_content .cart_list li img {
  width: 50px;
  height: 50px;
  margin: 0 0 0 15px;
  border-width: 1px;
  border-style: solid;
  float: right;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.cmsms_dynamic_cart .widget_shopping_cart_content .cart_list li .quantity {
  position: relative;
  overflow: hidden;
}
.cmsms_dynamic_cart .widget_shopping_cart_content .total {
  padding: 0 0 10px;
  position: relative;
  overflow: hidden;
}
.cmsms_dynamic_cart .widget_shopping_cart_content .total strong {
  margin-right: 5px;
}
.cmsms_dynamic_cart .widget_shopping_cart_content .buttons {
  padding: 0;
  margin: 0 -1%;
  position: relative;
  overflow: hidden;
}
.cmsms_dynamic_cart .widget_shopping_cart_content .buttons .button {
  width: 48%;
  margin: 0 1%;
  float: left;
}
.cmsms_dynamic_cart:hover .widget_shopping_cart_content,
.cmsms_dynamic_cart .cmsms_dynamic_cart_button:hover + .widget_shopping_cart_content,
.cmsms_dynamic_cart .widget_shopping_cart_content:hover {
  visibility: visible;
  position: relative;
  right: 40px;
  opacity: 1;
}
.safari_only .cmsms_dynamic_cart {
  width: 40px;
}
.safari_only .cmsms_dynamic_cart .widget_shopping_cart_content {
  position: relative;
  width: 0;
  height: 0;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.safari_only .cmsms_dynamic_cart:hover {
  width: 285px;
}
.safari_only .cmsms_dynamic_cart:hover .widget_shopping_cart_content,
.safari_only .cmsms_dynamic_cart .cmsms_dynamic_cart_button:hover + .widget_shopping_cart_content,
.safari_only .cmsms_dynamic_cart .widget_shopping_cart_content:hover {
  width: 270px;
  height: auto;
}
.cmsms_added_product_info {
  width: 270px;
  margin: 0 13px 0 0;
  padding: 15px 20px;
  position: absolute;
  right: 40px;
  border-width: 1px;
  border-style: solid;
  opacity: 0;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.03);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.03);
}
.cmsms_added_product_info:before,
.cmsms_added_product_info:after {
  content: '';
  border-left: 8px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  position: absolute;
  right: -8px;
  top: 15px;
}
.cmsms_added_product_info:after {
  right: -7px;
}
.cmsms_added_product_info .cmsms_added_product_info_img {
  width: 50px;
  height: 50px;
  border-width: 1px;
  border-style: solid;
  float: right;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.cmsms_added_product_info .cmsms_added_product_info_text {
  display: block;
  padding: 15px 15px 15px 0;
  float: left;
}
/*-------------------------------------------------------------------------*/
/*	7. Widgets */
/*-------------------------------------------------------------------------*/
.widget_product_search {
  position: relative;
  overflow: hidden;
}
.widget_product_search form {
  position: relative;
  overflow: hidden;
}
.widget_product_search form label {
  font-size: 20px;
  text-indent: -99999px;
  width: 40px;
  height: 40px;
  margin: auto !important;
  position: absolute;
  left: auto;
  right: 0;
  top: 0;
  bottom: 0;
}
.widget_product_search form label:before {
  content: '\ec70';
  font-family: 'fontello';
  display: block;
  text-indent: 0;
  width: 1em;
  height: 1em;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.widget_product_search form input[type="text"],
.widget_product_search form input[type="search"] {
  display: block;
  width: 100%;
  padding: 10px 40px 10px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.widget_product_search form input[type="submit"] {
  opacity: 0;
  width: 40px;
  height: 40px;
  margin: auto !important;
  position: absolute;
  left: auto;
  right: 0;
  top: 0;
  bottom: 0;
}
.widget_shopping_cart {
  position: relative;
  overflow: hidden;
}
.widget_shopping_cart .widget_shopping_cart_content {
  position: relative;
  overflow: hidden;
}
.widget_shopping_cart .widget_shopping_cart_content .cart_list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.widget_shopping_cart .widget_shopping_cart_content .cart_list li {
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  overflow: hidden;
}
.widget_shopping_cart .widget_shopping_cart_content .cart_list li:before {
  content: none;
}
.widget_shopping_cart .widget_shopping_cart_content .cart_list li a {
  display: block;
  float: none;
}
.widget_shopping_cart .widget_shopping_cart_content .cart_list li a.remove {
  display: block;
  width: 15px;
  margin-left: 10px;
  text-align: center;
  float: right;
}
.widget_shopping_cart .widget_shopping_cart_content .cart_list li img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
  border-width: 1px;
  border-style: solid;
  float: left;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.widget_shopping_cart .widget_shopping_cart_content .cart_list li .quantity {
  position: relative;
  overflow: hidden;
}
.widget_shopping_cart .widget_shopping_cart_content .total {
  padding: 0 0 10px;
  position: relative;
  overflow: hidden;
}
.widget_shopping_cart .widget_shopping_cart_content .total strong {
  margin-right: 5px;
}
.widget_shopping_cart .widget_shopping_cart_content .buttons {
  margin: 0 -1%;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.widget_shopping_cart .widget_shopping_cart_content .buttons .button {
  width: 48%;
  margin: 0 1%;
  float: left;
}
.widget_price_filter .price_slider_wrapper .price_slider {
  height: 5px;
  margin: 0 0 20px;
  position: relative;
  border-width: 1px;
  border-style: solid;
}
.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-range {
  height: 100%;
  position: absolute;
  top: 0;
}
.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle {
  display: block;
  width: 13px;
  height: 13px;
  margin-left: -1px;
  position: absolute;
  top: -5px;
  z-index: 2;
  cursor: pointer;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle:last-child {
  margin-left: -12px;
}
.widget_price_filter .price_slider_wrapper .price_slider_amount {
  position: relative;
  overflow: hidden;
}
.widget_price_filter .price_slider_wrapper .price_slider_amount .button {
  min-width: 75px;
  float: right;
}
.widget_price_filter .price_slider_wrapper .price_slider_amount .price_label {
  padding: 5px 15px 5px 0;
  position: relative;
  overflow: hidden;
}
.widget_product_categories .children {
  padding-top: 10px;
  margin: 0;
}
.product_list_widget {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.product_list_widget li {
  margin: 0 0 20px;
  padding: 0 0 20px;
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  overflow: hidden;
}
.product_list_widget li:before {
  content: none;
}
.product_list_widget li:last-child {
  margin: 0;
  padding: 0;
  border-bottom-width: 0;
  border-bottom-style: solid;
}
.product_list_widget li > a {
  display: block;
  margin: 0 0 3px;
}
.product_list_widget li img {
  width: 60px;
  height: 60px;
  margin: 0 15px 0 0;
  border-width: 1px;
  border-style: solid;
  float: left;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.product_list_widget li .cmsms_star_rating {
  margin: 0 0 5px;
}
.product_list_widget li del {
  margin-right: 5px;
}
.product_list_widget li ins {
  text-decoration: none;
}
.product_list_widget li .star-rating {
  display: none;
}
/*-------------------------------------------------------------------------*/
/*	8. Shortcodes */
/*-------------------------------------------------------------------------*/
.cmsms_products_shortcode,
.cmsms_selected_products_shortcode {
  position: relative;
  overflow: hidden;
}
.cmsms_products_shortcode .cmsms_products,
.cmsms_selected_products_shortcode .cmsms_products {
  margin: 0 -2%;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.cmsms_products_shortcode .cmsms_products .product,
.cmsms_selected_products_shortcode .cmsms_products .product {
  width: 96%;
  margin: 0 2%;
  padding: 0;
  position: relative;
  clear: none;
  overflow: hidden;
  float: left;
}
.cmsms_products_shortcode .cmsms_products .product:before,
.cmsms_selected_products_shortcode .cmsms_products .product:before {
  content: none;
}
.cmsms_products_shortcode .columns-4 .cmsms_products .product,
.cmsms_selected_products_shortcode .columns-4 .cmsms_products .product {
  width: 21%;
}
.cmsms_products_shortcode .columns-4 .cmsms_products .product:nth-child(4n+1),
.cmsms_selected_products_shortcode .columns-4 .cmsms_products .product:nth-child(4n+1) {
  clear: left;
}
.cmsms_products_shortcode .columns-3 .cmsms_products .product,
.cmsms_selected_products_shortcode .columns-3 .cmsms_products .product {
  width: 29.33%;
}
.cmsms_products_shortcode .columns-3 .cmsms_products .product:nth-child(3n+1),
.cmsms_selected_products_shortcode .columns-3 .cmsms_products .product:nth-child(3n+1) {
  clear: left;
}
.cmsms_products_shortcode .columns-2 .cmsms_products .product,
.cmsms_selected_products_shortcode .columns-2 .cmsms_products .product {
  width: 46%;
}
.cmsms_products_shortcode .columns-2 .cmsms_products .product:nth-child(2n+1),
.cmsms_selected_products_shortcode .columns-2 .cmsms_products .product:nth-child(2n+1) {
  clear: left;
}
.cmsms_products_shortcode .columns-1 .cmsms_products .product,
.cmsms_selected_products_shortcode .columns-1 .cmsms_products .product {
  float: none;
  clear: both;
}
/*-------------------------------------------------------------------------*/
/*	9.	CSS3 Animations	*/
/*-------------------------------------------------------------------------*/
html.csstransitions .cmsms_star_rating .cmsms_star,
html.csstransitions .cmsms_products .product .product_outer .product_inner .cmsms_product_footer > a:before {
  -webkit-transition: color .3s ease-in-out;
  -moz-transition: color .3s ease-in-out;
  -ms-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}
html.csstransitions .cmsms_star_rating .cmsms_star,
html.csstransitions .cmsms_products .product .product_outer .product_inner .cmsms_product_footer > a {
  -webkit-transition: color .3s ease-in-out, background-color .3s ease-in-out;
  -moz-transition: color .3s ease-in-out, background-color .3s ease-in-out;
  -ms-transition: color .3s ease-in-out, background-color .3s ease-in-out;
  -o-transition: color .3s ease-in-out, background-color .3s ease-in-out;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}
html.csstransitions .cmsms_products .product .product_outer .product_inner .cmsms_product_img img,
html.csstransitions .shipping_method + label:after,
html.csstransitions .input-radio + label:after,
html.csstransitions .input-checkbox + label:after {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
html.csstransitions .cmsms_single_product .cmsms_product_images .cmsms_product_thumbs .cmsms_product_thumb {
  -webkit-transition: border-color .3s ease-in-out;
  -moz-transition: border-color .3s ease-in-out;
  -ms-transition: border-color .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out;
}
html.csstransitions .cmsms_dynamic_cart .widget_shopping_cart_content {
  -webkit-transition: opacity .5s ease-in-out, right .5s ease-in-out, visibility .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out, right .5s ease-in-out, visibility .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out, right .5s ease-in-out, visibility .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out, right .5s ease-in-out, visibility .5s ease-in-out;
  transition: opacity .5s ease-in-out, right .5s ease-in-out, visibility .5s ease-in-out;
}
html.csstransitions .cmsms_dynamic_cart {
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}
