/**
 * @package 	WordPress
 * @subpackage 	EcoNature
 * @version 	1.0.0
 * 
 * Theme RTL Rules
 * Created by CMSMasters
 * 
 */


body {
	unicode-bidi: embed;
	direction: rtl;
}

ul ul,
ol ul,
ul ol,
ol ol {
	margin-left: 0;
	margin-right: 20px;
}

ul {
	padding-right: 15px;
}

ul li:before {
	content:'\e8b8';
	text-align: center;
	left: auto;
	right: -17px;
}

body {
	text-align: right;
}

div {
	text-align: right;
}

.cmsms_table tr td:first-child,
.cmsms_table tr th:first-child {
	border-right: 1px solid #dadada;
}

.cmsms_table tr td:last-child,
.cmsms_table tr th:last-child {
	border-left: 1px solid #dadada;
}

.cmsms_table tr td.cmsms_table_cell_aligncenter,
.cmsms_table tr th.cmsms_table_cell_aligncenter {
	text-align: center;
}

.cmsms_table tr td.cmsms_table_cell_alignright,
.cmsms_table tr th.cmsms_table_cell_alignright {
	text-align: left;
}

.preloader {
	text-align: center;
}

.preloader .full-width {
	left: auto;
	right: 0;
}

.preloader.highImg .full-width {
	left: auto;
	right: auto;
}

.resizable_block .full-width {
	left: auto;
	right: 0;
}

.cmsms_img_rollover_wrap .img_placeholder {
	left: auto;
	right: 0;
}

.cmsms_img_rollover_wrap .img_placeholder:before {
	left: 0;
	right: 0;
}

.cmsms_img_rollover_wrap .cmsms_img_rollover {
	left: auto;
	right: 0;
}

.cmsms_img_rollover_wrap .cmsms_img_rollover .cmsms_image_link,
.cmsms_img_rollover_wrap .cmsms_img_rollover .cmsms_open_link {
	left: 0;
	right: 0;
}

.cmsms_img_rollover_wrap .cmsms_img_rollover .cmsms_image_link > span,
.cmsms_img_rollover_wrap .cmsms_img_rollover .cmsms_open_link > span {
	left: 0;
	right: 0;
}

.cmsms_img_rollover_wrap .cmsms_img_rollover .cmsms_image_link,
.cmsms_img_rollover_wrap .cmsms_img_rollover .cmsms_open_link {
	left: 100%;
	right: -52px;
}

.cmsms_img_rollover_wrap .cmsms_img_rollover .cmsms_image_link + .cmsms_open_link {
	left: -52px;
	right: 100%;
}

.cmsms_img_rollover_wrap .cmsms_img_rollover .cmsms_open_post_link {
	left: auto;
	right: 0;
}

.cmsms_img_rollover_wrap:hover .cmsms_img_rollover .cmsms_open_link,
.cmsms_img_rollover_wrap:hover .cmsms_img_rollover .cmsms_image_link.no_open_link {
	left: 0;
	right: 0;
}

.cmsms_img_rollover_wrap:hover .cmsms_img_rollover .cmsms_image_link {
	left: 0;
	right: -62px;
}

.cmsms_img_rollover_wrap:hover .cmsms_img_rollover .cmsms_image_link + .cmsms_open_link {
	left: -62px;
	right: 0;
}

.cmsms_video_wrap > div {
	left: auto;
	right: 0;
}

.cmsms_video_wrap iframe {
	left: auto;
	right: 0;
}

.cmsms_video_wrap .wp-video-shortcode,
.cmsms_video_wrap .mejs-layer {
	left: auto;
	right: 0;
}

.one_first,
.one_half,
.one_third,
.two_third,
.one_fourth,
.three_fourth,
.one_fifth,
.one_sixth {
	float: right;
}

.one_first {
	float: none;
}

.meta_wrap > div[class^="cmsms-icon-"]:before,
.meta_wrap > p[class^="cmsms-icon-"]:before,
.meta_wrap > span[class^="cmsms-icon-"]:before,
.meta_wrap > strong[class^="cmsms-icon-"]:before,
.meta_wrap > div[class*=" cmsms-icon-"]:before,
.meta_wrap > p[class*=" cmsms-icon-"]:before,
.meta_wrap > span[class*=" cmsms-icon-"]:before,
.meta_wrap > strong[class*=" cmsms-icon-"]:before {
	margin-left: 0.5em;
	margin-right: 0;
}

nav > div > ul ul {
	left: auto;
	right: 0;
}

nav > div > ul ul ul {
	left: auto;
	right: 100%;
}

nav > div > ul > li {
	float: right;
}

nav > div > ul > li.menu-item-dropdown-right > ul {
	left: 0;
	right: auto;
}

nav > div > ul > li.menu-item-dropdown-right > ul ul {
	left: 100%;
	right: auto;
}

#header nav > div > ul ul ul {
	margin-left: 0;
	margin-right: 20px;
}

#header nav > div > ul > li.menu-item-mega.menu-item-dropdown-right > div.menu-item-mega-container {
	left: 0;
	right: auto;
}

#header nav > div > ul > li.menu-item-mega.menu-item-dropdown-right > div.menu-item-mega-container ul {
	right: auto;
	left: auto;
}

#header nav > div > ul > li.menu-item-mega ul {
	left: auto;
	right: auto;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container {
	left: auto;
	right: 0;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li ul li li a {
	padding-right: 20px;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li ul li li li a {
	padding-right: 40px;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li ul li li li li a {
	padding-right: 60px;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li ul li li li li li a {
	padding-right: 80px;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li ul li li li li li li a {
	padding-right: 100px;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li ul li li li li li li li a {
	padding-right: 120px;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li ul li li li li li li li li a {
	padding-right: 140px;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li ul li li li li li li li li li a {
	padding-right: 160px;
}

#header nav > div > ul > li.menu-item-mega > div.menu-item-mega-container > ul > li ul li li li li li li li li li li a {
	padding-right: 180px;
}

.cmsms_row .cmsms_row_overlay {
	left: auto;
	right: 0;
}

#header .header_top_inner .header_top_right {
	float: left;
}

#header .header_mid_inner .logo_wrap .title_text {
	padding-left: 0;
	padding-right: 3px;
}

.header_mid_inner .logo img {
	left:auto;
	right:0;
}

.bottom_inner aside {
	float: right;
}

.cmsms_notice[class*=" cmsms-icon-"] {
	padding-right: 80px;
}

.cmsms_notice:before {
	padding-left: 20px;
	margin-left: 0;
	left: auto;
	right: 10px;
}

.cmsms_stats {
	text-align: center;
}

.cmsms_stats.stats_mode_counters .cmsms_stat_wrap {
	text-align: center;
	float: none;
}

.cmsms_stats.stats_mode_counters.stats_type_circles .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner {
	text-align: center;
}

.cmsms_stats.stats_mode_counters.stats_type_circles .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_title,
.cmsms_stats.stats_mode_counters.stats_type_circles .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_counter_wrap {
	text-align: center;
}

#slide_top {
	text-align: center;
	right: auto;
	left: 20px;
}

.cmsms_hover_slider .cmsms_hover_slider_items > li {
	left: auto;
	right: 0;
}

.owl-carousel {
	direction: ltr;
}

.owl-carousel .owl-controls .owl-pagination {
	left:20px;
	right:auto;
}

#navigation ul {
	-webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.02);
	-moz-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.02);
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.02);
}

#navigation > li > a {
	border-right:0;
	border-left: 1px solid #ebebeb;
}

#navigation > li > a > span > img {
	margin-left: 5px;
}

#navigation > li:first-child > a {
	border-right: 1px solid #ebebeb;
}

#navigation > li.menu-item-has-children > a:before {
	left: auto;
	right: 50%;
	margin-right: -4px;
}

#navigation > li.menu-item-mega > div.menu-item-mega-container {
	-webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.02);
	-moz-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.02);
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.02);
}

#navigation > li.menu-item-mega > div.menu-item-mega-container > ul:after {
	margin-right: -20px;
	left: auto;
	right: 0;
}

.responsive_nav {
	-webkit-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.2);
}

.responsive_nav:before {
	left: 0;
	right: 0;
}

.responsive_nav:hover,
.responsive_nav.active {
	-webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.02);
	-moz-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.02);
	box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.02);
}

.responsive_nav:hover:before,
.responsive_nav.active:before {
	left: 0;
	right: 0;
}

.header_top_outer {
	-webkit-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.8);
	-moz-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.8);
	box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.8);
}

.header_top_inner nav > div > ul > li > a > span.cmsms_count {
	margin-right: 7px;
}

.header_top_inner nav > div > ul > li > a img {
	margin-left: 5px;
}

.header_top_inner nav > div > ul > li.menu-item-has-children > a:before {
	left: auto;
	right: 50%;
	margin-right: -5px;
}

.header_top_inner nav > div > ul > li ul {
	-webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
}

.header_top_inner .meta_wrap > * {
	margin-left: 0;
	margin-right: 30px;
}

.header_top_inner .social_wrap ul li {
	padding-right: 3px;
}

.header_mid_inner .search_wrap {
	float: left;
}

.header_mid_inner .search_wrap .search_wrap_inner .search_wrap_inner_left {
	margin-left: -30px;
}

.header_mid_inner .search_wrap .search_wrap_inner .search_wrap_inner_right {
	text-align: left;
}

.header_mid_inner .search_wrap .search_but {
	margin-right: 20px;
}

.header_mid_inner .search_wrap.search_opened .search_wrap_inner .search_wrap_inner_left {
	margin-left: 0;
}

.header_mid_inner .resp_nav_wrap,
.header_mid_inner .slogan_wrap,
.header_mid_inner .social_wrap {
	float: left;
	margin-left: 30px;
}

.header_mid_inner .resp_nav_wrap.resp_nav_closed,
.header_mid_inner .slogan_wrap.resp_nav_closed,
.header_mid_inner .social_wrap.resp_nav_closed,
.header_mid_inner .resp_nav_wrap.slogan_closed,
.header_mid_inner .slogan_wrap.slogan_closed,
.header_mid_inner .social_wrap.slogan_closed,
.header_mid_inner .resp_nav_wrap.social_closed,
.header_mid_inner .slogan_wrap.social_closed,
.header_mid_inner .social_wrap.social_closed {
	margin-left: 0;
}

.header_mid_inner .social_wrap ul li {
	padding-right: 7px;
}

.header_mid_inner nav {
	float: left;
}

.header_mid_inner nav.nav_closed {
	margin-left: -30px;
}

.header_mid_inner #navigation > li > a > span.nav_bg_clr {
	left: auto;
	right: 0;
}

.header_mid_inner #navigation > li:first-child > a {
	border-right: 0;
}

.header_mid_inner #navigation > li.menu-item-has-children > a > span.nav_bg_clr:before {
	left: auto;
	right: 50%;
	margin-right: -4px;
}

.header_bot_inner #navigation > li > a > span.nav_bg_clr {
	left: auto;
	right: 0;
}

.header_bot_inner #navigation > li.menu-item-has-children > a > span.nav_bg_clr:before {
	left: auto;
	right: 50%;
	margin-right: -4px;
}

.enable_header_centered .header_mid_inner,
.enable_header_centered .header_bot_inner {
	text-align: center;
}

.enable_header_centered .header_mid_inner > nav > div > ul ul,
.enable_header_centered .header_bot_inner > nav > div > ul ul {
	text-align: right;
}

.enable_header_right .header_bot_inner {
	text-align: left;
}

.enable_header_right .header_bot_inner > nav > div > ul ul {
	text-align: right;
}

.search_bar_wrap {
	padding-left: 10px;
	padding-right: 5px;
}

.search_bar_wrap button[type=submit][class^="cmsms-icon-"],
.search_bar_wrap button[type=submit][class*=" cmsms-icon-"] {
	float: left;
	text-align: center;
}

.headline_outer .headline_color {
	left: auto;
	right: 0;
}

.headline_outer .headline_inner .headline_text:before {
	left: 0;
	right: 0;
}

.error .error_subtitle {
	text-align: center;
}

.error .error_title {
	text-align: center;
}

.error .error_button_wrap {
	text-align: center;
}

.footer_inner {
	text-align: center;
}

.footer_inner nav > div {
	text-align: center;
}

.footer_inner nav > div > ul > li {
	border-right-width: 1px;
	border-right-style: solid;
	border-left:0;
}

.footer_inner nav > div > ul > li:first-child {
	border-right: 0;
}

.footer_inner .social_wrap .social_wrap_inner {
	text-align: center;
}

.footer_inner .social_wrap .social_wrap_inner ul li {
	padding-right: 10px;
}

.footer_inner .footer_custom_html {
	text-align: center;
}

.cmsms_footer_small .footer_inner {
	text-align: right;
}

.cmsms_footer_small .footer_inner nav {
	float: left;
}

.cmsms_footer_small .footer_inner .social_wrap {
	float: left;
}

.cmsms_footer_small .footer_inner .social_wrap .social_wrap_inner {
	text-align: right;
}

.cmsms_footer_small .footer_inner .social_wrap .social_wrap_inner ul li {
	padding-right: 10px;
}

.cmsms_footer_small .footer_inner .social_wrap .social_wrap_inner ul li:first-child {
	padding-right: 0;
}

.cmsms_footer_small .footer_inner .footer_custom_html {
	float: left;
	text-align: right;
}

.button,
.comment-reply-link,
#cancel-comment-reply-link, 
input[type=submit], 
input[type=button], 
button {
	text-align: center;
}

.cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_but {
	float: left;
}

.cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_but:before {
	margin-left: 10px;
	margin-right: -10px;
}

.cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_list {
	padding-left: 5px;
	padding-right: 0;
	text-align: left;
}

.cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_list li:first-child {
	padding-right: 0;
}

.cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_but.current + .cmsms_post_filter_list > li {
	padding-left: 0;
	padding-right: 5px;
}

.cmsms_wrap_post_loader {
	text-align: center;
}

.cmsms_wrap_pagination {
	text-align: center;
}

.cmsms_wrap_pagination ul li {
	padding-left: 0;
	padding-right: 3px;
	float: right;
}

.cmsms_wrap_pagination ul li:first-child {
	padding-right: 0;
}

.blog.columns .post {
	float: right;
}

.post .cmsms_post_cont_info > span {
	margin-left:0;
	margin-right: 5px;
}

.post .cmsms_post_cont_info > span:last-child {
	margin-right: 0;
}

.cmsms_post_meta_info {
	direction:ltr;
}

.post .cmsms_post_cont .cmsms_post_footer .cmsms_post_meta_info {
	float: left;
}

.post.format-quote .cmsms_quote_content {
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.post.format-quote .cmsms_quote_content:before {
	border-left: 15px solid transparent;
	left: auto;
	right: 23px;
}

.post.format-quote .cmsms_quote_info {
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	-webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
	-moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
}

.post.format-aside .cmsms_post_cont .cmsms_post_content,
.post.format-status .cmsms_post_cont .cmsms_post_content {
	text-align: center;
}

.post.format-aside .cmsms_post_cont .cmsms_post_content > div,
.post.format-status .cmsms_post_cont .cmsms_post_content > div {
	text-align: center;
}

.post.format-aside .cmsms_post_cont .cmsms_post_footer .cmsms_post_meta_info,
.post.format-status .cmsms_post_cont .cmsms_post_footer .cmsms_post_meta_info {
	float: left;
}

.post.format-aside .cmsms_post_cont .cmsms_post_footer .cmsms_post_cont_info,
.post.format-status .cmsms_post_cont .cmsms_post_footer .cmsms_post_cont_info {
	padding-left: 20px;
	padding-right: 0;
}

.post.format-chat .cmsms_post_cont {
	-webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
	-moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
}

.post.format-chat .cmsms_post_cont .cmsms_chat .cmsms_chat_item:before {
	left: auto;
	right: 0;
}

.post.format-chat .cmsms_post_cont .cmsms_chat .cmsms_chat_item .cmsms_chat_author_time .cmsms_chat_time {
	padding-left:0;
	padding-right: 10px;
	float: left;
}

.post.cmsms_default_type {
	padding-left: 60px;
}

.post.cmsms_default_type .cmsms_post_info {
	margin-left: 40px;
	margin-right: 5px;
	float: right;
}

.post.cmsms_default_type .cmsms_post_date {
	padding-left: 10px;
	margin-left: 0;
	text-align: left;
}

.post.cmsms_default_type.format-audio .cmsms_post_cont {
	-webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
	-moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
}

.post.cmsms_default_type.format-link .cmsms_post_cont {
	-webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
	-moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
}

.post.cmsms_masonry_type .cmsms_post_format_img {
	left: 0;
	right: 0;
}

.post.cmsms_masonry_type .cmsms_post_cont {
	-webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
	-moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
}

.post.cmsms_masonry_type .cmsms_post_cont .cmsms_post_footer .cmsms_post_meta_info {
	text-align: inherit;
	float: none;
}

.post.cmsms_masonry_type .cmsms_post_cont .cmsms_post_footer.tar .cmsms_post_meta_info {
	text-align: left;
}

.post.cmsms_masonry_type .cmsms_post_cont .cmsms_post_footer .button {
	float: left;
}

.post.cmsms_masonry_type.format-quote .cmsms_post_cont .cmsms_quote_content:before {
	left: auto;
	right: 37px;
}

.post.cmsms_timeline_type .cmsms_post_info .cmsms_post_date {
	text-align: center;
}

.post.cmsms_timeline_type.format-chat .cmsms_post_cont .cmsms_post_footer .cmsms_post_cont_info {
	padding-left: 20px;
	padding-right: 0;
}

.opened-article .post .cmsms_post_header {
	padding-left: 0;
	padding-right: 75px;
}

.opened-article .post .cmsms_post_header .cmsms_post_format_img {
	left: auto;
	right: 0;
}

.opened-article .post .cmsms_post_footer .cmsms_post_meta_info {
	float: left;
}

.opened-article .post .cmsms_post_footer .cmsms_post_cont_info {
	padding-right:0;
	padding-left: 15px;
}

.opened-article .post.format-chat .cmsms_post_cont .cmsms_post_format_img {
	left: 0;
	right: 0;
}

.opened-article .post.format-chat .cmsms_post_cont .cmsms_chat {
	padding-left: 40px;
	padding-right: 30px;
}

.opened-article .post.format-chat .cmsms_post_cont .cmsms_post_footer {
	padding-left: 35px;
	padding-right: 30px;
}

.opened-article .post.format-quote .cmsms_post_cont .cmsms_quote_content {
	padding-right: 100px;
}

.opened-article .post.format-quote .cmsms_post_cont .cmsms_quote_content .cmsms_post_format_img {
	left: auto;
	right: 20px;
}

.opened-article .post.format-quote .cmsms_post_cont_info {
	padding-left: 20px;
	padding-right: 0;
}

.post_nav {
	-webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
	-moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
}

.share_posts > .fl {
	float:right;
	padding-right:0;
	padding-left: 20px;
}

.share_posts .cmsms_social a {
	padding-left: 10px;
	padding-right: 2px;
}

.about_author .about_author_inner {
	-webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
	-moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
}

.about_author .about_author_inner .alignleft {
	float:right;
	margin-left: 40px;
}

.about_author .about_author_inner .social_wrap .social_wrap_inner ul li {
	margin-left:0;
	margin-right:20px;
}

.about_author .about_author_inner .social_wrap .social_wrap_inner ul li:first-child {
	margin-right:0;
}

.related_posts > ul li {
	float: right;
}

.related_posts > ul li:first-child > a {
	border-right: 1px solid #000000;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;
}

.related_posts > ul li:last-child > a {
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;
}

.related_posts > ul li > a {
	border-left: 1px solid #000000;
}

.related_posts .related_posts_content {
	-webkit-border-radius: 5px 0 5px 5px;
	-moz-border-radius: 5px 0 5px 5px;
	border-radius: 5px 0 5px 5px;
	-webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
	-moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
}

.related_posts .related_posts_content .related_posts_content_tab .rel_post_content figure.alignleft {
	margin-left: 30px;
}

.related_posts .related_posts_content .related_posts_content_tab .rel_post_content figure.alignleft .img_placeholder:before {
	left: 0;
	right: 0;
}

.post_comments .commentlist > li.bypostauthor > .comment-body .fn:before {
	margin-left: 10px;
	margin-right: 5px;
}

.post_comments .commentlist .comment-body {
	-webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
	-moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
}

.post_comments .commentlist .comment-body:before {
	left: auto;
	right: 60px;
}

.post_comments .commentlist .comment-body .alignleft {
	float:right;
	text-align: center;
	margin-left: 40px;
}

.post_comments .commentlist .comment-body .comment-content .comment-reply-link {
	float: left;
}

.post_comments .commentlist .comment-body .comment-content .published {
	float: left;
}

.post_comments .commentlist ul {
	padding-right: 20px;
}

.comment-respond .comment-reply-title small {
	float: left;
}

.comment-respond .comment-form .comment-form-author,
.comment-respond .comment-form .comment-form-email,
.comment-respond .comment-form .comment-form-url {
	float: right;
}

.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_sort_block {
	float: left;
}

.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_sort_block .cmsms_project_sort_but {
	margin-left: 0;
	margin-right: 1px;
}

.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_sort_block .cmsms_project_sort_but:first-child {
	margin-right: 5px;
}

.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_but {
	float: left;
}

.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_but:before {
	margin-left: 10px;
	margin-right: -10px;
}

.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_list {
	padding-left: 5px;
	padding-right: 0;
	text-align: left;
}

.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_list li:first-child {
	padding-right: 0;
}

.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_but.current + .cmsms_project_filter_list > li {
	padding-left: 0;
	padding-right: 5px;
}

.cmsms_wrap_project_loader {
	text-align: center;
}

.portfolio .project {
	float: right;
}

.portfolio .project .project_outer .project_inner .cmsms_project_footer {
	direction:ltr;
}

.portfolio.opened-article .project {
	float: none;
}

.portfolio.opened-article .project {
	float: none;
}

.portfolio.opened-article .project .cmsms_project_header {
	text-align: center;
}

.portfolio.opened-article .project .project_content.with_sidebar {
	padding-left: 60px;
	float: right;
}

.portfolio.opened-article .project .project_sidebar {
	float: right;
}

.portfolio.opened-article .project .project_sidebar .project_details .project_details_item > div {
	float: right;
}

.portfolio.opened-article .project .project_sidebar .project_details .project_details_item .project_details_item_desc {
	text-align: left;
	direction:ltr;
}

.portfolio.opened-article .project .project_sidebar .project_features .project_features_item > div {
	float: right;
}

.portfolio.opened-article .project .project_sidebar .project_features .project_features_item .project_features_item_desc {
	text-align: left;
}

.portfolio.opened-article .project .project_sidebar .share_posts .share_posts_item {
	float: right;
}

.profiles.opened-article .profile .cmsms_profile_header {
	text-align: center;
}

.profiles.opened-article .profile .profile_content.with_sidebar {
	padding-left: 40px;
	float: right;
}

.profiles.opened-article .profile .profile_sidebar {
	float: right;
}

.profiles.opened-article .profile .profile_sidebar .profile_details .profile_details_item > div {
	float: right;
}

.profiles.opened-article .profile .profile_sidebar .profile_details .profile_details_item .profile_details_item_desc {
	text-align: left;
}

.profiles.opened-article .profile .profile_sidebar .profile_features .profile_features_item > div {
	float: right;
}

.profiles.opened-article .profile .profile_sidebar .profile_features .profile_features_item .profile_features_item_desc {
	text-align: left;
}

.profiles.opened-article .profile .profile_sidebar .profile_social_icons .profile_social_icons_list li a:before {
	left: 0;
	right: 0;
}

.cmsms_notice .notice_close {
	text-align: center;
	right: auto;
	left: -7px;
}

.cmsms_notice .notice_close:hover {
	right: auto;
	left: -9px;
}

.cmsms_icon_box.cmsms_box_centered:before,
.cmsms_icon_box.cmsms_box_colored:before {
	margin-right: -30px;
}

.cmsms_icon_box.cmsms_box_lefticon {
	padding-left:0;
	padding-right:60px;
}

.cmsms_icon_box.cmsms_box_lefticon:before {
	text-align: center;
	left:auto;
	right:0;
}

.cmsms_icon_box.cmsms_box_heading h1:before,
.cmsms_icon_box.cmsms_box_heading h2:before,
.cmsms_icon_box.cmsms_box_heading h3:before {
	margin-left: 15px;
}

.cmsms_featured_block.featured_block_with_button {
	-webkit-border-radius: 7px 5px 5px 7px;
	-moz-border-radius: 7px 5px 5px 7px;
	border-radius: 7px 5px 5px 7px;
}

.cmsms_featured_block .featured_block_inner .featured_block_button_wrap {
	padding-left: 20px;
	padding-right: 0;
}

.cmsms_featured_block .featured_block_inner .featured_block_button {
	text-align: center;
	float: left;
}

.cmsms_featured_block .featured_block_inner .featured_block_button:before {
	margin-left: 10px;
	margin-right: 0;
}

.cmsms_toggles .cmsms_toggle_wrap .cmsms_toggle_title > .cmsms_toggle_plus {
	left: auto;
	right: 0;
}

.cmsms_toggles .cmsms_toggle_wrap .cmsms_toggle_title > .cmsms_toggle_plus .cmsms_toggle_plus_hor {
	left: auto;
	right: 8px;
}

.cmsms_toggles .cmsms_toggle_wrap .cmsms_toggle_title > .cmsms_toggle_plus .cmsms_toggle_plus_vert {
	left: auto;
	right: 11px;
}

.cmsms_toggles .cmsms_toggle_wrap .cmsms_toggle_title > a {
	padding-left: 5px;
	padding-right: 35px;
}

.cmsms_toggles.toggles_mode_accordion .cmsms_toggle_title > .cmsms_toggle_plus {
	left: auto;
	right: 10px;
}

.cmsms_toggles.toggles_mode_accordion .cmsms_toggle_title > a {
	padding-left: 10px;
	padding-right: 45px;
}

.cmsms_tabs .cmsms_tabs_list .cmsms_tabs_list_item {
	float:right;
}

.cmsms_tabs .cmsms_tabs_list .cmsms_tabs_list_item:first-child > a {
	border-right: 1px solid #dadada;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;
}

.cmsms_tabs .cmsms_tabs_list .cmsms_tabs_list_item:last-child > a {
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;
}

.cmsms_tabs .cmsms_tabs_list .cmsms_tabs_list_item > a {
	border-right:0;
	border-left: 1px solid #dadada;
}

.cmsms_tabs .cmsms_tabs_list .cmsms_tabs_list_item > a[class^="cmsms-icon-"] {
	padding-left: 30px;
	padding-right: 60px;
}

.cmsms_tabs .cmsms_tabs_list .cmsms_tabs_list_item > a:before {
	left: auto;
	right: 30px;
}

.cmsms_tabs.tabs_mode_tab .cmsms_tabs_wrap {
	-webkit-border-radius: 5px 0 5px 5px;
	-moz-border-radius: 5px 0 5px 5px;
	border-radius: 5px 0 5px 5px;
}

.cmsms_tabs.tabs_mode_tour .cmsms_tabs_list .cmsms_tabs_list_item:first-child > a {
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.cmsms_tabs.tabs_mode_tour .cmsms_tabs_list .cmsms_tabs_list_item:last-child > a {
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

.cmsms_tabs.tabs_mode_tour .cmsms_tabs_list .cmsms_tabs_list_item > a[class^="cmsms-icon-"] {
	padding-left: 20px;
	padding-right: 50px;
}

.cmsms_tabs.tabs_mode_tour .cmsms_tabs_list .cmsms_tabs_list_item > a:before {
	left: auto;
	right: 20px;
}

.cmsms_icon_list_items.cmsms_icon_list_type_list {
	padding-right: 30px;
}

.cmsms_icon_list_items.cmsms_icon_list_type_list .cmsms_icon_list_item:before {
	left: auto;
	right: -32px;
}

.cmsms_stats.stats_mode_bars .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_title {
	left: auto;
	right: 15px;
}

.cmsms_stats.stats_mode_bars .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_counter_wrap {
	right: auto;
	left: 15px;
}

.cmsms_stats.stats_mode_bars .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner[class^="cmsms-icon-"]:before,
.cmsms_stats.stats_mode_bars .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner[class*=" cmsms-icon-"]:before {
	left: auto;
	right: 15px;
}

.cmsms_stats.stats_mode_bars .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner[class^="cmsms-icon-"] .cmsms_stat_title,
.cmsms_stats.stats_mode_bars .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner[class*=" cmsms-icon-"] .cmsms_stat_title {
	left: auto;
	right: 45px;
}

.cmsms_stats.stats_mode_counters.stats_type_circles .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner {
	left: auto;
	right: 15px;
}

.cmsms_stats.stats_mode_counters.stats_type_numbers .cmsms_stat_wrap:last-child .cmsms_stat {
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

.cmsms_stats.stats_mode_counters.stats_type_numbers .cmsms_stat_wrap.one_fourth:nth-child(4n+1) .cmsms_stat {
	border-right: 1px solid #dadada;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

.cmsms_stats.stats_mode_counters.stats_type_numbers .cmsms_stat_wrap.one_fourth:nth-child(4n) .cmsms_stat {
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

.cmsms_stats.stats_mode_counters.stats_type_numbers .cmsms_stat_wrap.one_third:nth-child(3n+1) .cmsms_stat {
	border-right: 1px solid #dadada;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

.cmsms_stats.stats_mode_counters.stats_type_numbers .cmsms_stat_wrap.one_third:nth-child(3n) .cmsms_stat {
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

.cmsms_stats.stats_mode_counters.stats_type_numbers .cmsms_stat_wrap.one_half:nth-child(2n+1) .cmsms_stat {
	border-right: 1px solid #dadada;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

.cmsms_stats.stats_mode_counters.stats_type_numbers .cmsms_stat_wrap.one_half:nth-child(2n) .cmsms_stat {
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

.cmsms_stats.stats_mode_counters.stats_type_numbers .cmsms_stat_wrap.one_first .cmsms_stat {
	border-right: 1px solid #dadada;
}

.cmsms_stats.stats_mode_counters.stats_type_numbers .cmsms_stat_wrap .cmsms_stat {
	border-right: 0;
	border-left: 1px solid #dadada;
}

.cmsms_stats.stats_mode_counters.stats_type_numbers .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner[class^="cmsms-icon-"],
.cmsms_stats.stats_mode_counters.stats_type_numbers .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner[class*=" cmsms-icon-"] {
	padding-right: 70px;
}

.cmsms_stats.stats_mode_counters.stats_type_numbers .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner[class^="cmsms-icon-"]:before,
.cmsms_stats.stats_mode_counters.stats_type_numbers .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner[class*=" cmsms-icon-"]:before {
	left: auto;
	right: 0;
}

q,
blockquote {
	padding-left: 0;
	padding-right: 65px;
}

q:before,
blockquote:before {
	left: auto;
	right: 0;
}

.cmsms_button {
	-webkit-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.2);
}

.cmsms_button:hover {
	-webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.02);
	-moz-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.02);
	box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.02);
}

.cmsms_quotes_slider .quote_content:before {
	left: auto;
	right: 19px;
	border-right: 10px solid transparent;
}

.cmsms_quotes_slider .quote_content:after {
	left: auto;
	right: 18px;
	border-right: 10px solid transparent;
}

.cmsms_quotes_slider .quote_image {
	float: right;
	margin-left: 15px;
}

.quote_grid.quote_one .cmsms_quote {
	float: none;
}

.quote_grid.quote_three .cmsms_quote .quote_image {
	float: none;
	text-align: center;
}

.quote_grid.quote_four .cmsms_quote .quote_image {
	float: none;
	text-align: center;
}

.quote_grid .quote_image {
	margin-right:0;
	margin-left: 25px;
	float: right;
}

.quote_grid .cmsms_quote {
	float: right;
}

.quote_grid .quotes_list {
	padding-right: 0;
}

.cmsms_pricing_table .cmsms_pricing_item {
	text-align: center;
	border-left-width:1px;
	border-left-style:solid;
	border-right: none;
}

.cmsms_pricing_table .cmsms_pricing_item:first-child {
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	border-right-width: 1px;
	border-right-style: solid;
}

.cmsms_pricing_table .cmsms_pricing_item:last-child {
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

.cmsms_pricing_table .cmsms_pricing_item.pricing_best {
	border-right-width: 1px;
	border-right-style: solid;
}

.cmsms_pricing_table .cmsms_pricing_item .feature_list {
	padding-right: 0;
}

.cmsms_pricing_table .cmsms_pricing_item .feature_list [class*="cmsms-icon-"]:before {
	margin-left: 10px;
}

.cmsms_pricing_table .cmsms_pricing_item .cmsms_price_wrap {
	text-align: center;
}

.cmsms_pricing_table .cmsms_pricing_item .cmsms_price_wrap:after {
	left: auto;
	right: 50%;
	margin-right: -22.5px;
}

.cmsms_pricing_table .cmsms_pricing_item .cmsms_price_wrap:before {
	left: auto;
	right: 50%;
	margin-right: -22.5px;
}

.resizable_block .google_map {
	left: auto;
	right: 0;
}

.cmsms_img.cmsms_image_l {
	float: right;
	margin-left: 20px;
}

.cmsms_img.cmsms_image_r {
	float: left;
	margin-right: 20px;
}

.cmsms_img .cmsms_img_caption {
	text-align: center;
}

.wp-caption .wp-caption-text {
	text-align: center;
}

.cmsms_sidebar aside {
	float: right;
}

.social_vertical .share_wrap {
	float: none;
}

.share_wrap {
	float: right;
}

.cmsms_profile.vertical .pl_social .pl_social_list {
	margin-left: 0;
	margin-right: 50px;
}

.cmsms_profile.vertical .pl_social .pl_social_list li:first-child {
	padding-right: 0;
}

.cmsms_profile.vertical .format-profile:before {
	left: auto;
	right: 50%;
}

.cmsms_profile.vertical .format-profile .pl_img .pl_noimg[class^="cmsms-icon-"]:before,
.cmsms_profile.vertical .format-profile .pl_img .pl_noimg[class*=" cmsms-icon-"]:before {
	left: 0;
	right: 0;
}

.cmsms_profile.vertical .format-profile.profile_even {
	direction: ltr;
}

.cmsms_profile.vertical .format-profile.profile_even .pl_content * {
	text-align: right;
}

.cmsms_profile.vertical .format-profile.profile_even .pl_content {
	text-align: right;
	direction: rtl;
}

.cmsms_profile.vertical .format-profile.profile_even .pl_social {
	text-align: left;
	direction: rtl;
}

.cmsms_profile.vertical .format-profile.profile_even .pl_social .pl_social_list {
	margin-left: 50px;
	margin-right: 0;
}

.cmsms_profile.vertical .format-profile .pl_content *,
.cmsms_profile.vertical .format-profile .pl_content {
	text-align: left;
}

.cmsms_twitter .cmsms_twitter_item {
	text-align: center;
}

.cmsms_twitter .cmsms_twitter_item .cmsms_twitter_item_content {
	text-align: center;
}

.twr_icon {
	text-align: center;
}

.cmsms_dropcap {
	float: right;
}

.cmsms_dropcap.type2 {
	text-align: center;
	margin-left: 25px;
	margin-right: 0;
}

.cmsms_clients_item {
	text-align: center;
}

.cmsms_clients_grid .cmsms_clients_item {
	float: right;
}

.cmsms_clients_grid.clients_one .cmsms_clients_item:last-child,
.cmsms_clients_grid.clients_one .cmsms_clients_item {
	border-left-width: 1px;
	border-left-style: solid;
	float: none;
}

.cmsms_clients_grid.clients_two .cmsms_clients_item:nth-child(2n+1),
.cmsms_clients_grid.clients_three .cmsms_clients_item:nth-child(3n+1),
.cmsms_clients_grid.clients_four .cmsms_clients_item:nth-child(4n+1),
.cmsms_clients_grid.clients_five .cmsms_clients_item:nth-child(5n+1) {
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

.cmsms_clients_grid .cmsms_clients_item:last-child {
	border-left-width: 1px;
	border-left-style: solid;
}

.cmsms_clients_grid.clients_two .cmsms_clients_item:nth-child(2n),
.cmsms_clients_grid.clients_three .cmsms_clients_item:nth-child(3n),
.cmsms_clients_grid.clients_four .cmsms_clients_item:nth-child(4n),
.cmsms_clients_grid.clients_five .cmsms_clients_item:nth-child(5n) {
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	border-left-width: 1px;
	border-left-style: solid;
}

.cmsms_posts_slider .post .cmsms_slider_post_format_img {
	left: 0;
	right: 0;
}

.cmsms_posts_slider .post .cmsms_slider_post_cont {
	-webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
	-moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
}

.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_cont_info > span {
	margin-right: 5px;
}

.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_cont_info > span:first-child {
	margin-right: 0;
}

.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_footer .cmsms_slider_post_meta_info {
	float: none;
}

.cmsms_posts_slider .post.format-aside .cmsms_slider_post_cont .cmsms_slider_post_content,
.cmsms_posts_slider .post.format-status .cmsms_slider_post_cont .cmsms_slider_post_content {
	text-align: center;
}

.cmsms_posts_slider .post.format-aside .cmsms_slider_post_cont .cmsms_slider_post_content > div,
.cmsms_posts_slider .post.format-status .cmsms_slider_post_cont .cmsms_slider_post_content > div {
	text-align: center;
}

.cmsms_posts_slider .post.format-quote .cmsms_slider_post_cont .cmsms_slider_post_quote_content {
	text-align: center;
}

.cmsms_posts_slider .post.format-quote .cmsms_slider_post_cont .cmsms_slider_post_quote_content:before {
	border-left: 11px solid transparent;
	left: auto;
	right: 40px;
}

.cmsms_posts_slider .post.format-chat .cmsms_slider_post_cont .cmsms_slider_post_chat .cmsms_chat_item:before {
	left: auto;
	right: 0;
}

.cmsms_posts_slider .post.format-chat .cmsms_slider_post_cont .cmsms_slider_post_chat .cmsms_chat_item .cmsms_chat_author_time .cmsms_chat_time {
	padding-left:0;
	padding-right: 10px;
	float: left;
}

.cmsms_posts_slider .project .slider_project_outer {
	-webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
	-moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.09);
}

.cmsms_posts_slider .project .slider_project_outer figure img,
.cmsms_posts_slider .project .slider_project_outer figure .cmsms_img_rollover {
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.widget_nav_menu ul li > a:before {
	content:'\e8b8';
}

.widget_nav_menu .menu > li > a {
	padding-right:25px;
	padding-left:10px;
	
}

.widget_nav_menu .menu > li > a:before {
	right:7px;
	left:auto;
}

.widget_nav_menu .menu > li > ul > li > a {
	padding-right:35px;
	padding-left:10px;
}

.widget_nav_menu .menu > li > ul > li > a:before {
	right:17px;
	left:auto;
}

.widget_nav_menu .menu > li > ul > li > ul > li > a {
	padding-right:45px;
	padding-left:10px;
}

.widget_nav_menu .menu > li > ul > li > ul > li > a:before {
	right:27px;
	left:auto;
}

.widget_nav_menu .menu > li > ul > li > ul > li > ul > li > a {
	padding-right:55px;
	padding-left:10px;
}

.widget_nav_menu .menu > li > ul > li > ul > li > ul > li > a:before {
	right:37px;
	left:auto;
}

.widget_custom_advertisement_entries .adv_image_wrap .adv_widget_image {
	float: right;
}

.widget_pages ul ul,
.widget_categories ul ul {
	margin-right: 0;
}

.contact_widget_name,
.contact_widget_email,
.contact_widget_phone,
.adress_wrap {
	padding-right: 33px;
}

.tweet_time:before,
.contact_widget_email:before,
.contact_widget_phone:before,
.adress_wrap:before {
	left: auto;
	right: 0;
}

.tweet_time:before {
	left: auto;
	right: 2px;
}

.adress_wrap:before {
	left: auto;
	right: 2px;
}

.contact_widget_phone:before {
	left: auto;
	right: 2px;
}

#wp-calendar th,
#wp-calendar td {
	padding-left: 15px;
	padding-right: 0;
}

#wp-calendar caption {
	text-align: right;
}

#wp-calendar caption:before {
	margin-left: 10px;
	margin-right: 2px;
}

.widget_custom_flickr_entries .flickr_badge_image {
	float: right;
}

.tweet_list li:first-child {
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.tweet_list li:last-child {
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

.tweet_list .tweet_time {
	padding-left: 0;
	padding-right: 25px;
}

.cmsms_tabs.lpr .cmsms_tabs_list .cmsms_tabs_list_item > a {
	text-align: center;
}

.cmsms_tabs.lpr .cmsms_tabs_wrap {
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

.cmsms_tabs.lpr .alignleft {
	float: right;
	margin-left: 20px;
}

.rsswidget img {
	margin-left: 3px;
	margin-right: 0;
}

.img_placeholder_small:before {
	left: 0;
	right: 0;
}

.widget_custom_popular_projects_entries .img_placeholder:before,
.widget_custom_latest_projects_entries .img_placeholder:before {
	left: 0;
	right: 0;
}

.widget_custom_popular_projects_entries .owl-buttons, 
.widget_custom_latest_projects_entries .owl-buttons {
	right:auto;
	left:0;
}

.wpcf7-list-item-label,
body .cmsms-form-builder .check_parent input[type="checkbox"] + label,
body .cmsms-form-builder .check_parent input[type="radio"] + label {
	padding-right: 25px;
	float: right;
}

.cmsms-form-builder .check_parent input[type="checkbox"],
.cmsms-form-builder .check_parent input[type="radio"],
.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="checkbox"],
.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="radio"] {
	left: auto;
	right: 0;
	float: right;
}

.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="checkbox"] + span.wpcf7-list-item-label:after,
.cmsms-form-builder .check_parent input[type="checkbox"] + label:after {
	left: auto;
	right: 3px;
}

.cmsms-form-builder .check_parent input[type="radio"] + label:after,
.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="radio"] + span.wpcf7-list-item-label:after {
	left: auto;
	right: 4px;
}

.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="checkbox"] + span.wpcf7-list-item-label:before,
.cmsms-form-builder .check_parent input[type="checkbox"] + label:before,
.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="radio"] + span.wpcf7-list-item-label:before,
.cmsms-form-builder .check_parent input[type="radio"] + label:before {
	text-align: center;
	left: auto;
	right: 0;
}

.cmsms_search .cmsms_search_post {
	padding-left: 60px;
}

.cmsms_search .cmsms_search_post .cmsms_search_post_number {
	margin-left: 40px;
	margin-right: 5px;
	text-align: center;
	float: right;
}

.cmsms_search .cmsms_search_post .cmsms_search_post_cont .cmsms_search_post_cont_info > span {
	margin-right: 5px;
}

.cmsms_search .cmsms_search_post .cmsms_search_post_cont .cmsms_search_post_cont_info > span:first-child {
	margin-right: 0;
}

.cmsms_search .cmsms_search_post .cmsms_search_post_cont .cmsms_search_post_footer .cmsms_search_post_meta_info {
	float: left;
}

.cmsms_search .cmsms_search_post .cmsms_search_post_cont .cmsms_search_post_footer .cmsms_search_post_meta_info .cmsms_search_post_date {
	margin-right: 0;
}

.cmsms_sitemap_wrap .cmsms_sitemap > li:before {
	left: auto;
	right: 0;
}

.cmsms_sitemap_wrap .cmsms_sitemap > li > ul > li {
	padding-left: 20px;
	float: right;
}

.cmsms_sitemap_wrap .cmsms_sitemap > li > ul > li > ul li {
	margin-right: 20px;
}

.cmsms_sitemap_wrap .cmsms_sitemap > li > ul > li > ul li a {
	padding-right: 20px;
}

.cmsms_sitemap_wrap .cmsms_sitemap > li > ul > li > ul li a:before {
	text-align: center;
	left: auto;
	right: 0;
}

.cmsms_sitemap_wrap .cmsms_sitemap > li > ul > li > ul > li {
	margin-right: 0;
}

.cmsms_sitemap_wrap .cmsms_sitemap_category > li {
	padding-left: 20px;
	float: right;
}

.cmsms_sitemap_wrap .cmsms_sitemap_category > li > ul li {
	margin-right: 20px;
}

.cmsms_sitemap_wrap .cmsms_sitemap_category > li > ul li a {
	padding-right: 20px;
}

.cmsms_sitemap_wrap .cmsms_sitemap_category > li > ul li a:before {
	text-align: center;
	left: auto;
	right: 0;
}

.cmsms_sitemap_wrap .cmsms_sitemap_category > li > ul > li {
	margin-right: 0;
}

.cmsms_sitemap_wrap .cmsms_sitemap_archive > li {
	padding-left: 20px;
	float: right;
}

.cmsms_sitemap_wrap .cmsms_sitemap_archive > li a {
	padding-right: 20px;
}

.cmsms_sitemap_wrap .cmsms_sitemap_archive > li a:before {
	text-align: center;
	left: auto;
	right: 0;
}

.content_wrap #ai1ec-calendar .ai1ec-agenda-widget-view .ai1ec-date-title > div,
.content_wrap #ai1ec-calendar .ai1ec-agenda-view .ai1ec-date-title > div {
	text-align: center;
}

.content_wrap article.ai1ec_event footer .cmsms_post_meta_info {
	float: left;
}

.content_wrap article.ai1ec_event footer .cmsms_post_date {
	margin-left: 25px;
}

.content_wrap article.ai1ec_event footer .cmsms_post_date:before {
	left: -27px;
	right: auto;
}

html.csstransitions .cmsms_notice .notice_close {
	-webkit-transition: color .1s ease-in-out, font-size .1s ease-in-out, line-height .1s ease-in-out, width .1s ease-in-out, height .1s ease-in-out, top .1s ease-in-out, left .1s ease-in-out;
	-moz-transition: color .1s ease-in-out, font-size .1s ease-in-out, line-height .1s ease-in-out, width .1s ease-in-out, height .1s ease-in-out, top .1s ease-in-out, left .1s ease-in-out;
	-ms-transition: color .1s ease-in-out, font-size .1s ease-in-out, line-height .1s ease-in-out, width .1s ease-in-out, height .1s ease-in-out, top .1s ease-in-out, left .1s ease-in-out;
	-o-transition: color .1s ease-in-out, font-size .1s ease-in-out, line-height .1s ease-in-out, width .1s ease-in-out, height .1s ease-in-out, top .1s ease-in-out, left .1s ease-in-out;
	transition: color .1s ease-in-out, font-size .1s ease-in-out, line-height .1s ease-in-out, width .1s ease-in-out, height .1s ease-in-out, top .1s ease-in-out, left .1s ease-in-out;
}

html.csstransitions .sidebar .widget_nav_menu li {
	-webkit-transition: border-color .2s ease-in-out, background-color .2s ease-in-out, margin-right .3s ease-in-out, padding-right .3s ease-in-out;
	-moz-transition: border-color .2s ease-in-out, background-color .2s ease-in-out, margin-right .3s ease-in-out, padding-right .3s ease-in-out;
	-ms-transition: border-color .2s ease-in-out, background-color .2s ease-in-out, margin-right .3s ease-in-out, padding-right .3s ease-in-out;
	-o-transition: border-color .2s ease-in-out, background-color .2s ease-in-out, margin-right .3s ease-in-out, padding-right .3s ease-in-out;
	transition: border-color .2s ease-in-out, background-color .2s ease-in-out, margin-right .3s ease-in-out, padding-right .3s ease-in-out;
}

html.csstransitions .sidebar .widget_nav_menu li:before {
	-webkit-transition: right .3s ease-in-out;
	-moz-transition: right .3s ease-in-out;
	-ms-transition: right .3s ease-in-out;
	-o-transition: right .3s ease-in-out;
	transition: right .3s ease-in-out;
}

html.csstransitions .sidebar.fl .widget_nav_menu li {
	-webkit-transition: border-color .2s ease-in-out, background-color .2s ease-in-out, margin-left .3s ease-in-out, padding-left .3s ease-in-out;
	-moz-transition: border-color .2s ease-in-out, background-color .2s ease-in-out, margin-left .3s ease-in-out, padding-left .3s ease-in-out;
	-ms-transition: border-color .2s ease-in-out, background-color .2s ease-in-out, margin-left .3s ease-in-out, padding-left .3s ease-in-out;
	-o-transition: border-color .2s ease-in-out, background-color .2s ease-in-out, margin-left .3s ease-in-out, padding-left .3s ease-in-out;
	transition: border-color .2s ease-in-out, background-color .2s ease-in-out, margin-left .3s ease-in-out, padding-left .3s ease-in-out;
}

html.csstransitions .cmsms_img_rollover_wrap:hover .cmsms_img_rollover .cmsms_image_link,
html.csstransitions .cmsms_img_rollover_wrap:hover .cmsms_img_rollover .cmsms_open_link,
html.csstransitions .project:hover .cmsms_img_rollover_wrap .cmsms_img_rollover .cmsms_image_link,
html.csstransitions .project:hover .cmsms_img_rollover_wrap .cmsms_img_rollover .cmsms_open_link {
	-webkit-transition: right .3s ease-out .2s, left .3s ease-out .2s, color .3s ease-in-out, opacity .3s ease-out;
	-moz-transition: right .3s ease-out .2s, left .3s ease-out .2s, color .3s ease-in-out, opacity .3s ease-out;
	-ms-transition: right .3s ease-out .2s, left .3s ease-out .2s, color .3s ease-in-out, opacity .3s ease-out;
	-o-transition: right .3s ease-out .2s, left .3s ease-out .2s, color .3s ease-in-out, opacity .3s ease-out;
	transition: right .3s ease-out .2s, left .3s ease-out .2s, color .3s ease-in-out, opacity .3s ease-out;
}


/*-------------------------------------------------------------------------*/
/*	Tablet Monitor
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
  html .cmsms_121414 .one_half,
  html .cmsms_141412 .one_half {
    float: none;
    clear: both;
  }
  html .sidebar_layout_141412 > aside:first-child + aside + aside,
  html .sidebar_layout_141412 > div.cl + aside + aside + aside,
  html .sidebar_layout_141412 > div.cmsms_widget_divider + aside + aside + aside {
    float: none;
    clear: both;
  }
  html .sidebar_layout_121414 > aside:first-child,
  html .sidebar_layout_121414 > div.cl + aside,
  html .sidebar_layout_121414 > div.cmsms_widget_divider + aside {
    float: none;
    clear: both;
  }
  html #page .cmsms_stats.stats_type_numbers .cmsms_stat_wrap.one_fourth:nth-child(2n+1) .cmsms_stat {
    border-right-width: 1px;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
  }
  html #page .cmsms_stats.stats_type_numbers .cmsms_stat_wrap.one_fourth:nth-child(2n) .cmsms_stat {
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
  }
  html #page .cmsms_stats.stats_type_numbers.stats_noborder .cmsms_stat_wrap .cmsms_stat,
  html #page .cmsms_stats.stats_type_numbers.stats_noborder .cmsms_stat_wrap.one_fourth:nth-child(2n+1) .cmsms_stat {
    border: 0;
  }
  html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item {
    float: right;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item:first-child {
    -webkit-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
  }
  html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item:nth-child(2) {
    -webkit-border-radius: 5px 0 0 0;
    border-radius: 5px 0 0 0;
  }
  html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item:nth-child(3) {
    -webkit-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
  }
  html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item:last-child {
    -webkit-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
  }
  html #page .quote_grid.quote_four .quote_vert {
    border-right-width: 0;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_left,
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right {
    padding-left: 30px;
    padding-right: 30px;
    float: none;
    text-align: center;
    clear: both;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_left .meta_wrap {
    text-align: center;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap {
    text-align: center;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap .responsive_top_nav {
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav li li a {
    padding-right: 10px;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav li li li a {
    padding-right: 20px;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav li li li li a {
    padding-right: 30px;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav li li li li li a {
    padding-right: 40px;
  }
  html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav li li li li li li a {
    padding-right: 50px;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner {
    padding-left: 0;
    padding-right: 0;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .search_wrap {
    margin-left: 30px;
    margin-right: -20px;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .logo_wrap {
    margin-right: 30px;
    float: right;
  }
  html #page #header .header_bot {
    float: none;
    clear: both;
  }
  html #page #header .header_bot .header_bot_outer .header_bot_inner {
    padding-left: 0;
    padding-right: 0;
  }
  html #page #header .header_bot .header_bot_outer .header_bot_inner .resp_nav_wrap {
    margin: 0;
    padding: 20px 0 15px;
    text-align: center;
  }
  html #page #header .header_bot .header_bot_outer .header_bot_inner .resp_nav_wrap .resp_nav_wrap_inner {
    display: inline-block;
  }
  html #page #header .resp_nav_wrap {
    margin: 0 0 0 30px;
  }
  html #page #header .resp_nav_wrap.resp_nav_closed {
    margin: 0 0 0 -30px;
  }
  html #page #header .header_mid nav,
  html #page #header .header_bot nav {
    float: none;
    margin: 0;
    clear: both;
  }
  html #page #header .header_mid nav div,
  html #page #header .header_bot nav div,
  html #page #header .header_mid nav ul,
  html #page #header .header_bot nav ul,
  html #page #header .header_mid nav li,
  html #page #header .header_bot nav li,
  html #page #header .header_mid nav a,
  html #page #header .header_bot nav a,
  html #page #header .header_mid nav span,
  html #page #header .header_bot nav span {
    float: none;
    margin: 0;
    padding: 0;
	left:auto;
    right: 0;
    border: 0;
  }
  html #page #header .header_mid nav #navigation li a,
  html #page #header .header_bot nav #navigation li a {
    padding: 13px 30px 13px 45px;
  }
  html #page #header .header_mid nav #navigation li li a,
  html #page #header .header_bot nav #navigation li li a {
    padding-right: 45px;
  }
  html #page #header .header_mid nav #navigation li li li a,
  html #page #header .header_bot nav #navigation li li li a {
    padding-right: 60px;
  }
  html #page #header .header_mid nav #navigation li li li li a,
  html #page #header .header_bot nav #navigation li li li li a {
    padding-right: 75px;
  }
  html #page #header .header_mid nav #navigation li li li li li a,
  html #page #header .header_bot nav #navigation li li li li li a {
    padding-right: 90px;
  }
  html #page #header .header_mid nav #navigation li li li li li li a,
  html #page #header .header_bot nav #navigation li li li li li li a {
    padding-right: 105px;
  }
  html #page #header .header_mid nav #navigation li li li li li li li a,
  html #page #header .header_bot nav #navigation li li li li li li li a {
    padding-right: 120px;
  }
  html #page #header .header_mid nav #navigation li li li li li li li li a,
  html #page #header .header_bot nav #navigation li li li li li li li li a {
    padding-right: 135px;
  }
  html #page #header .header_mid nav #navigation li li li li li li li li li a,
  html #page #header .header_bot nav #navigation li li li li li li li li li a {
    padding-right: 150px;
  }
  html #page #header .header_mid nav #navigation li li li li li li li li li li a,
  html #page #header .header_bot nav #navigation li li li li li li li li li li a {
    padding-right: 165px;
  }
  html #page #header .header_mid nav #navigation li li li li li li li li li li li a,
  html #page #header .header_bot nav #navigation li li li li li li li li li li li a {
    padding-right: 180px;
  }
  html #page #header .header_mid nav #navigation li li li li li li li li li li li li a,
  html #page #header .header_bot nav #navigation li li li li li li li li li li li li a {
    padding-right: 195px;
  }
  html #page.enable_header_centered #header .header_mid .header_mid_outer .header_mid_inner .logo_wrap {
    float: none;
    margin-right: 0;
  }
}
/*-------------------------------------------------------------------------*/
/*	Tablet Ipad Horizontal
/*-------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  html .one_half .cmsms_featured_block .featured_block_button_wrap,
  html .one_third .cmsms_featured_block .featured_block_button_wrap,
  html .one_fourth .cmsms_featured_block .featured_block_button_wrap,
  html .two_third .cmsms_featured_block .featured_block_button_wrap,
  html .three_fourth .cmsms_featured_block .featured_block_button_wrap {
    padding: 20px;
    text-align: center;
  }
  html .one_half .cmsms_featured_block .featured_block_button_wrap .featured_block_button,
  html .one_third .cmsms_featured_block .featured_block_button_wrap .featured_block_button,
  html .one_fourth .cmsms_featured_block .featured_block_button_wrap .featured_block_button,
  html .two_third .cmsms_featured_block .featured_block_button_wrap .featured_block_button,
  html .three_fourth .cmsms_featured_block .featured_block_button_wrap .featured_block_button {
    float: none;
  }
}
/*-------------------------------------------------------------------------*/
/*	Tablet Monitor 950
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 950px) {
  html #page .portfolio.opened-article .project .project_content.with_sidebar {
    float: none;
    clear: both;
    padding-left: 0;
    padding-bottom: 50px;
  }
  html #page .portfolio.opened-article .project .project_sidebar {
    float: none;
    clear: both;
    padding-bottom: 50px;
  }
  html #page .profiles.opened-article .profile .profile_content.with_sidebar {
    float: none;
    clear: both;
    padding-left: 0;
    padding-bottom: 50px;
  }
  html #page .profiles.opened-article .profile .profile_sidebar {
    float: none;
    clear: both;
  }
}
/*-------------------------------------------------------------------------*/
/*	3.	Small Tablet Monitor
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  html .one_first,
  html .one_half,
  html .one_third,
  html .two_third,
  html .one_fourth,
  html .three_fourth,
  html .cmsms_121414 .one_half,
  html .cmsms_141412 .one_half,
  html .cmsms_141214 .one_fourth,
  html .cmsms_141214 .one_half {
    float: none;
    clear: both;
  }
  html #page .blog.timeline .post.cmsms_timeline_type {
    padding-left: 0;
    padding-right: 0;
    padding-top: 70px;
  }
  html #page .blog.timeline .post.cmsms_timeline_type:first-child {
    padding-top: 0;
  }
  html #page .blog.timeline .post.cmsms_timeline_type .cmsms_post_info {
    margin: 0 0 20px;
    left: auto;
	right:0;
  }
  html #page .blog.timeline .post.cmsms_timeline_type .cmsms_post_info .cmsms_post_date {
    padding: 5px;
    left: auto;
	right: 0;
  }
  html #page .post.cmsms_default_type {
    padding-left: 0;
  }
  html #page .post.cmsms_default_type .cmsms_post_info {
    float: none;
    margin: 0 0 20px;
  }
  html #page .post.cmsms_default_type .cmsms_post_info .cmsms_post_format_img {
    margin-left: 10px;
  }
  html #page .post.cmsms_default_type .cmsms_post_info .cmsms_post_date {
    padding-top: 0;
    padding-left: 0;
    text-align: right;
  }
  html #page .opened-article .post .cmsms_post_footer {
    text-align: center;
  }
  html #page .opened-article .post .cmsms_post_footer .cmsms_post_meta_info {
    float: none;
    margin: 0;
  }
  html #page .opened-article .post .cmsms_post_footer .cmsms_post_cont_info {
    text-align: center;
    padding: 0;
  }
  html #page .opened-article .post .cmsms_post_footer .cmsms_post_meta_info + .cmsms_post_cont_info {
    padding-top: 20px;
  }
  html #page .opened-article .post.format-aside .cmsms_post_cont .cmsms_post_content,
  html #page .opened-article .post.format-status .cmsms_post_cont .cmsms_post_content {
    padding-top: 10px;
  }
  html #page .post_comments .commentlist .comment-body .comment-content > h2 {
    clear: both;
    margin-top: 0;
    padding-top: 10px;
  }
  html #page .cmsms_search .cmsms_search_post {
    padding-left: 0;
  }
  html #page .cmsms_search .cmsms_search_post .cmsms_search_post_number {
    float: none;
    clear: both;
  }
  html #page .cmsms_stats.stats_type_numbers.stats_mode_counters .cmsms_stat_wrap.one_third .cmsms_stat,
  html #page .cmsms_stats.stats_type_numbers.stats_mode_counters .cmsms_stat_wrap.one_third:nth-child(3n+1) .cmsms_stat,
  html #page .cmsms_stats.stats_type_numbers.stats_mode_counters .cmsms_stat_wrap.one_third:nth-child(3n) .cmsms_stat,
  html #page .cmsms_stats.stats_type_numbers.stats_mode_counters .cmsms_stat_wrap.one_third:last-child .cmsms_stat {
    border-right-width: 1px;
    border-right-style: solid;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  html #page .cmsms_stats.stats_type_numbers.stats_mode_counters.stats_noborder .cmsms_stat_wrap.one_third .cmsms_stat,
  html #page .cmsms_stats.stats_type_numbers.stats_mode_counters.stats_noborder .cmsms_stat_wrap.one_third:nth-child(3n+1) .cmsms_stat,
  html #page .cmsms_stats.stats_type_numbers.stats_mode_counters.stats_noborder .cmsms_stat_wrap.one_third:nth-child(3n) .cmsms_stat,
  html #page .cmsms_stats.stats_type_numbers.stats_mode_counters.stats_noborder .cmsms_stat_wrap.one_third:last-child .cmsms_stat {
    border: 0;
  }
  html #page .cmsms_profile.vertical .format-profile .pl_content {
    float: right;
  }
  html #page .cmsms_profile.vertical .format-profile .pl_img {
    padding: 0 30px 0 0;
    float: left;
  }
  html #page .cmsms_profile.vertical .format-profile .pl_social {
    padding: 30px 0 0;
    clear: right;
    text-align: left;
    float: right;
  }
  html #page .cmsms_profile.vertical .format-profile.profile_even .pl_content {
    float: left;
  }
  html #page .cmsms_profile.vertical .format-profile.profile_even .pl_img {
    padding: 0 0 0 30px;
    float: right;
  }
  html #page .cmsms_profile.vertical .format-profile.profile_even .pl_social {
    clear: left;
    text-align: right;
    float: left;
  }
  html #page .cmsms_profile.horizontal .format-profile {
    margin-bottom: 80px;
  }
  html #page .cmsms_profile.horizontal .format-profile:last-child {
    margin-bottom: 0;
  }
  html #page .quote_grid.quote_four .quote_vert,
  html #page .quote_grid.quote_three .quote_vert,
  html #page .quote_grid.quote_two .quote_vert {
    border-right-width: 0;
  }
  html #page .quote_grid.quote_four .quotes_list .cmsms_quote,
  html #page .quote_grid.quote_three .quotes_list .cmsms_quote,
  html #page .quote_grid.quote_two .quotes_list .cmsms_quote {
    border-top-width: 1px;
    border-top-style: solid;
  }
  html #page .quote_grid.quote_four .quotes_list .cmsms_quote:nth-child(1),
  html #page .quote_grid.quote_three .quotes_list .cmsms_quote:nth-child(1),
  html #page .quote_grid.quote_two .quotes_list .cmsms_quote:nth-child(1) {
    border-top-width: 0;
  }
  html #page .quote_grid.quote_four .quotes_list .cmsms_quote:nth-child(2),
  html #page .quote_grid.quote_three .quotes_list .cmsms_quote:nth-child(2),
  html #page .quote_grid.quote_two .quotes_list .cmsms_quote:nth-child(2) {
    border-top-width: 1px;
  }
  html #page .quote_grid.quote_four .quotes_list .cmsms_quote .quote_image,
  html #page .quote_grid.quote_three .quotes_list .cmsms_quote .quote_image,
  html #page .quote_grid.quote_two .quotes_list .cmsms_quote .quote_image {
    margin: 0 0 0 25px;
    float: right;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .search_wrap {
    float: none;
    margin: 0 5%;
    padding: 15px 0;
    clear: both;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .search_wrap .search_wrap_inner .search_wrap_inner_left {
    margin: 0;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .social_wrap {
    float: none;
    margin: 0 5%;
    padding: 15px 0 10px;
    clear: both;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .social_wrap .social_wrap_inner ul {
    text-align: center;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .social_wrap .social_wrap_inner ul li {
    margin: 0;
    padding: 0 3px;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .slogan_wrap {
    margin: 0 5%;
    padding: 15px 0;
    float: none;
    clear: both;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .slogan_wrap .slogan_wrap_inner .slogan_wrap_text {
    text-align: center;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .logo_wrap {
    text-align: center;
    float: none;
    margin: 0;
    padding: 15px 5%;
    clear: both;
  }
  html #page #header .header_mid .header_mid_outer .header_mid_inner .resp_nav_wrap {
    margin: 0;
    padding: 20px 0 15px;
    float: none;
    clear: both;
    text-align: center;
  }
  html #page.enable_header_centered #header .header_mid .header_mid_outer .header_mid_inner .logo_wrap {
    margin: 0 5%;
  }
  html #page .cmsms_clients_grid .cmsms_clients_item {
    margin-bottom: 0;
    border-top: none;
    border-right-width: 1px;
    border-right-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    -webkit-border-radius: 0px;
    border-radius: 0px;
  }
  html #page .cmsms_clients_grid .cmsms_clients_item:first-child {
    border-top-width: 1px;
    border-top-style: solid;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
  }
  html #page .cmsms_clients_grid .cmsms_clients_item:last-child {
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
  }
  html #page .cmsms_clients_grid.clients_noborder .cmsms_clients_item {
    border: none;
  }
}
/*-------------------------------------------------------------------------*/
/*	4.	Phone Monitor
/*-------------------------------------------------------------------------*/
@media only screen and (max-width: 540px) {
  html #page .post_comments .commentlist .comment-body .alignleft {
    float: none;
    clear: both;
    margin: 0 0 15px;
    text-align: center;
  }
  html #page .post_comments .commentlist .comment-body .alignleft img {
    margin: 0 auto 15px;
  }
  html #page .post_comments .commentlist .comment-body .comment-content {
    text-align: center;
  }
  html #page .post_comments .commentlist .comment-body .comment-content .comment-reply-link {
    float: none;
  }
  html #page .post_comments .commentlist .comment-body .comment-content .published {
    clear: both;
    float: none;
    display: block;
    padding: 25px 0 0;
  }
  html #page .cmsms_stats.stats_type_numbers.stats_mode_counters .cmsms_stat_wrap.one_fourth .cmsms_stat,
  html #page .cmsms_stats.stats_type_numbers.stats_mode_counters .cmsms_stat_wrap.one_fourth:nth-child(n) .cmsms_stat,
  html #page .cmsms_stats.stats_type_numbers.stats_mode_counters .cmsms_stat_wrap.one_third .cmsms_stat,
  html #page .cmsms_stats.stats_type_numbers.stats_mode_counters .cmsms_stat_wrap.one_fourth:nth-child(n) .cmsms_stat,
  html #page .cmsms_stats.stats_type_numbers.stats_mode_counters .cmsms_stat_wrap.one_half .cmsms_stat,
  html #page .cmsms_stats.stats_type_numbers.stats_mode_counters .cmsms_stat_wrap.one_half:nth-child(n) .cmsms_stat {
    border-right-width: 1px;
    border-right-style: solid;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  html #page .cmsms_stats.stats_type_numbers.stats_mode_counters.stats_noborder .cmsms_stat_wrap.one_fourth .cmsms_stat,
  html #page .cmsms_stats.stats_type_numbers.stats_mode_counters.stats_noborder .cmsms_stat_wrap.one_fourth:nth-child(n) .cmsms_stat,
  html #page .cmsms_stats.stats_type_numbers.stats_mode_counters.stats_noborder .cmsms_stat_wrap.one_third .cmsms_stat,
  html #page .cmsms_stats.stats_type_numbers.stats_mode_counters.stats_noborder .cmsms_stat_wrap.one_fourth:nth-child(n) .cmsms_stat,
  html #page .cmsms_stats.stats_type_numbers.stats_mode_counters.stats_noborder .cmsms_stat_wrap.one_half .cmsms_stat,
  html #page .cmsms_stats.stats_type_numbers.stats_mode_counters.stats_noborder .cmsms_stat_wrap.one_half:nth-child(n) .cmsms_stat {
    border: 0;
  }
  html #page .cmsms_tabs .cmsms_tabs_list .cmsms_tabs_list_item {
    float: none;
  }
  html #page .cmsms_tabs .cmsms_tabs_list .cmsms_tabs_list_item > a {
    -webkit-border-radius: 0;
    border-radius: 0;
    border-right-width: 1px;
    border-right-style: solid;
  }
  html #page .cmsms_tabs .cmsms_tabs_list .cmsms_tabs_list_item:last-child > a {
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  html #page .cmsms_tabs.tabs_mode_tour .cmsms_tabs_list {
    float: none;
  }
  html #page .cmsms_tabs.tabs_mode_tour .cmsms_tabs_wrap {
    float: none;
    padding: 30px 0 0;
  }
  html #page .related_posts > ul li {
    float: none;
  }
  html #page .related_posts > ul li > a {
    -webkit-border-radius: 0;
    border-radius: 0;
    border-right-width: 1px;
    border-right-style: solid;
  }
  html #page .related_posts > ul li:last-child > a {
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item,
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item,
  html #page .cmsms_pricing_table.pricing_two .cmsms_pricing_item,
  html #page .cmsms_pricing_table.pricing_one .cmsms_pricing_item,
  html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item:first-child,
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:first-child,
  html #page .cmsms_pricing_table.pricing_two .cmsms_pricing_item:first-child,
  html #page .cmsms_pricing_table.pricing_one .cmsms_pricing_item:first-child,
  html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item:last-child,
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:last-child,
  html #page .cmsms_pricing_table.pricing_two .cmsms_pricing_item:last-child,
  html #page .cmsms_pricing_table.pricing_one .cmsms_pricing_item:last-child,
  html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item:nth-child(n),
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:nth-child(n),
  html #page .cmsms_pricing_table.pricing_two .cmsms_pricing_item:nth-child(n),
  html #page .cmsms_pricing_table.pricing_one .cmsms_pricing_item:nth-child(n) {
    border-width: 1px;
    border-style: solid;
    float: right;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item:first-child,
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:first-child,
  html #page .cmsms_pricing_table.pricing_two .cmsms_pricing_item:first-child,
  html #page .cmsms_pricing_table.pricing_one .cmsms_pricing_item:first-child {
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
  }
  html #page .cmsms_pricing_table.pricing_four .cmsms_pricing_item:last-child,
  html #page .cmsms_pricing_table.pricing_three .cmsms_pricing_item:last-child,
  html #page .cmsms_pricing_table.pricing_two .cmsms_pricing_item:last-child,
  html #page .cmsms_pricing_table.pricing_one .cmsms_pricing_item:last-child {
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
  }
  html #page .cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_list {
    float: left;
  }
  html #page .cmsms_profile.vertical .format-profile .pl_content {
    float: none;
    padding-bottom: 35px;
  }
  html #page .cmsms_profile.vertical .format-profile .pl_social {
    float: none;
    clear: none;
    padding: 20px 0 0;
    margin-left: 120px;
	margin-right:0;
  }
  html #page .cmsms_profile.vertical .format-profile.profile_even .pl_social {
    float: none;
    clear: none;
    padding: 20px 0 0;
    margin-left: 0;
    margin-right: 120px;
  }
  html #page .quote_grid.quote_four .quotes_list .cmsms_quote .quote_image,
  html #page .quote_grid.quote_three .quotes_list .cmsms_quote .quote_image,
  html #page .quote_grid.quote_two .quotes_list .cmsms_quote .quote_image {
    margin: 0 0 20px;
    float: none;
  }
}
